netex_part_3/part3_fares/netex_fareUsageParameter_support-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_fareUsageParameter_support">
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European  prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE SERVICE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_FILEXX-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
                            <Copyright>CEN, VDV, PTIC 2010, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx  FARE USAGE PARAMETER types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:include schemaLocation="netex_farePrice_support-v0.1.xsd"/>
	<!-- === USAGE PARAMETER====================================================== -->
	<xsd:simpleType name="UsageParameterIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a USAGE PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="UsageParameterRef" type="UsageParameterRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a USAGE PARAMETER</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UsageParameterRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a USAGE PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="UsageParameterIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a USAGE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === TRANSFERABILITY PARAMETER====================================================== -->
	<xsd:simpleType name="TransferabilityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRANSFERABILITY PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="TransferabilityRef" type="TransferabilityRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRANSFERABILITY PARAMETER</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransferabilityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TRANSFERABILITY PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="TransferabilityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRANSFERABILITY PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === FREQUENCY OF USE PARAMETER====================================================== -->
	<xsd:simpleType name="FrequencyOfUseTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for  FREQUENCY OF USE Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="limited"/>
			<xsd:enumeration value="single"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrequencyOfUseIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FREQUENCY OF USE</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="FrequencyOfUseRef" type="FrequencyOfUseRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FREQUENCY OF USE</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FrequencyOfUseRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FREQUENCY OF USE</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="FrequencyOfUseIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FREQUENCY OF USE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === FREQUENCY OF USE PARAMETER====================================================== -->
	<xsd:simpleType name="UsageValidityPeriodIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a USAGE VALIDITY PERIOD</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="UsageValidityPeriodRef" type="UsageValidityPeriodRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a USAGE VALIDITY PERIOD</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UsageValidityPeriodRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a USAGE VALIDITY PERIOD</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="UsageValidityPeriodIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a USAGE VALIDITY PERIOD.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ValidityPeriodTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Validty Period</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="duration"/>
			<xsd:enumeration value="endOfRide"/>
			<xsd:enumeration value="endOfRide"/>
			<xsd:enumeration value="endOfFareDay"/>
			<xsd:enumeration value="endOfFarePeriod"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === USER PROFILE PARAMETER======================================= -->
	<xsd:simpleType name="UserProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a USER PROFILE PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="UserProfileRef" type="UserProfileRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a USER PROFILE PARAMETER</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UserProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a USER PROFILE PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="UserProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a USER PROFILE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===  COMMERCIAL PROFILE ===================================================== -->
	<xsd:simpleType name="CommercialProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a COMMERCIAL PROFILE PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="CommercialProfileRef" type="CommercialProfileRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a COMMERCIAL PROFILE PARAMETER</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CommercialProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a COMMERCIAL PROFILE PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="CommercialProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a COMMERCIAL PROFILE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CommercialProfileTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for CommercialProfile Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="limited"/>
			<xsd:enumeration value="single"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === GROUP TICKET PARAMETER====================================================== -->
	<xsd:simpleType name="GroupTicketIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP TICKET PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupTicketRef" type="GroupTicketRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP TICKET PARAMETER</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupTicketRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GROUP TICKET PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="GroupTicketIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP TICKET PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="GroupTicketTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for GroupTicket Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="limited"/>
			<xsd:enumeration value="single"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === LUGGAGE ALLOWANCE PARAMETER============================================== -->
	<xsd:simpleType name="LuggageAllowanceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LUGGAGE ALLOWANCE PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="LuggageAllowanceRef" type="LuggageAllowanceRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a LUGGAGE ALLOWANCE PARAMETER</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LuggageAllowanceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a LUGGAGE ALLOWANCE PARAMETER</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="LuggageAllowanceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LUGGAGE ALLOWANCE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LuggageAllowanceTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for LuggageAllowance Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="limited"/>
			<xsd:enumeration value="single"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === USAGE PARAMETER PRICE====================================================== -->
	<xsd:complexType name="usageParameterPrices_RefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE USAGE PARAMETER PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="UsageParameterPriceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UsageParameterPriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a USAGE PARAMETER PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DiscountablePriceRefStructure">
				<xsd:attribute name="ref" type="UsageParameterPriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a USAGE PARAMETER PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="UsageParameterPriceRef" type="UsageParameterPriceRefStructure" substitutionGroup="DiscountablePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a USAGE PARAMETER PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="UsageParameterPriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a USAGE PARAMETER PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DiscountablePriceIdType"/>
	</xsd:simpleType>
	<!-- === PRICE COMBINATION  PRICE====================================================== -->
	<xsd:complexType name="combinationPrices_RefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE PRICE COMBINATION PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="CombinationPriceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CombinationPriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PRICE COMBINATION PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DiscountablePriceRefStructure">
				<xsd:attribute name="ref" type="CombinationPriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PRICE COMBINATION PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="CombinationPriceRef" type="CombinationPriceRefStructure" substitutionGroup="DiscountablePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PRICE COMBINATION PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="CombinationPriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PRICE COMBINATION PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DiscountablePriceIdType"/>
	</xsd:simpleType>
	<!-- ====GEOGRAPHICAL UNIT.================================================== -->
	<xsd:simpleType name="TypeOfConcessionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF CONCESSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfConcessionRef" type="TypeOfConcessionRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  TYPE OF CONCESSION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfConcessionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF CONCESSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfConcessionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF CONCESSION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
