netex_part_3/part3_fares/netex_fareProduct_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_fareProduct_version">
	<xsd:include schemaLocation="netex_farePrice_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareProduct_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareAccessRightParameter_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_units-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in FARE FRAME)=================================================== -->
	<xsd:complexType name="fareProductsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of FARE PRODUCT. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="FareProduct_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareProduct_" type="DataManagedObjectStructure" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An immaterial marketable element (access rights, discount rights etc), specific to a CHARGING METHOD.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ====FARE PRODUCT=================================================== -->
	<xsd:element name="FareProduct" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>An immaterial marketable element (access rights, discount rights etc), specific to a CHARGING METHOD.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareProductStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareProductIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareProductStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="FareProductGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareProductGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for FARE PRODUCT Group</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ChargingMethodRef" minOccurs="0"/>
			<xsd:element name="validityParameterAssignments" type="accessRightParameters_RelStructure" minOccurs="0"/>
			<xsd:element name="validableElements" type="validableElements_RelStructure" minOccurs="0"/>
			<xsd:element name="prices" type="fareProductPrices_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== SALES DISCOUNT RIGHT.=============================================== -->
	<xsd:element name="SaleDiscountRight" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT allowing a customer to benefit from discounts when purchasing SALES PACKAGEs.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SaleDiscountRightStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SaleDiscountRightGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SaleDiscountRightIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SaleDiscountRightStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SALES DISCOUNT RIGHT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareProductStructure">
				<xsd:sequence>
					<xsd:group ref="SaleDiscountRightGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SaleDiscountRightGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES DISCOUNT RIGHT Group</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ==== USAGE DISCOUNT RIGHT.=============================================== -->
	<xsd:element name="UsageDiscountRight" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT allowing a customer to benefit from discounts when consuming VALIDABLE ELEMENTs.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="UsageDiscountRightStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageDiscountRightGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="UsageDiscountRightIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="UsageDiscountRightStructure">
		<xsd:annotation>
			<xsd:documentation>Type for USAGE DISCOUNT RIGHT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareProductStructure">
				<xsd:sequence>
					<xsd:group ref="UsageDiscountRightGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="UsageDiscountRightGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for USAGE DISCOUNT RIGHT Group</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ==== AMOUNT OF PRICE UNIT PRODUCT.=============================================== -->
	<xsd:element name="AmountOfPriceUnitProduct" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT consisting in a stored value of PRICE UNITs: an amount of money on an electronic purse, amount of units on a value card etc.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AmountOfPriceUnitProductStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AmountOfPriceUnitProductGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AmountOfPriceUnitProductIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AmountOfPriceUnitProductStructure">
		<xsd:annotation>
			<xsd:documentation>Type for AMOUNT OF PRICE UNIT PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareProductStructure">
				<xsd:sequence>
					<xsd:group ref="AmountOfPriceUnitProductGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AmountOfPriceUnitProductGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for AMOUNT OF PRICE UNIT PRODUCT Group</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="Amount" type="CurrencyAmountType">
					<xsd:annotation>
						<xsd:documentation>Currency amount of Price Unit</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Currency" type="CurrencyType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Currency of AMount</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="Units" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation>Unit amount of price unit</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="GeographicalUnitRef" minOccurs="0"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:group>
	<!-- ==== PREASSIGNED FARE PRODUC=============================================== -->
	<xsd:element name="PreassignedFareProduct" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT consisting of one or several VALIDABLE ELEMENTs, specific to a CHARGING METHOD.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PreassignedFareProductStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PreassignedFareProductGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PreassignedFareProductIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PreassignedFareProductStructure">
		<xsd:annotation>
			<xsd:documentation>Type for PREASSIGNED FARE PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareProductStructure">
				<xsd:sequence>
					<xsd:group ref="PreassignedFareProductGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PreassignedFareProductGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for PREASSIGNED FARE PRODUCT Group</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="accessRightsInProduct" type="accessRightsInProduct_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>AQcecss rights given by product </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === FARE ELEMENT IN SEQUENCE.=================================== -->
	<xsd:element name="FareElementInSequence" abstract="false" substitutionGroup="VersionedChild" id="FareElementInSequence">
		<xsd:annotation>
			<xsd:documentation>A FARE STRUCTURE ELEMENT as a part of a VALIDABLE ELEMENT, including its possible order in the sequence of FARE STRUCTURE ELEMENTs forming that VALIDABLE ELEMENT, and its possible quantitative limitation.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareElementInSequence_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareElementInSequenceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareElementInSequenceIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareElementInSequence_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FareElementInSequenceGroup"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>order of element in sequence</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareElementInSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for FARE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsFirstInSequence" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether element is first in sequence. Default is false</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsLastInSequence" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whther element is first in sequence.  Default is false</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ValidableElementRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====ACCESS RIGHT IN PRODUCT..============================= -->
	<xsd:complexType name="accessRightsInProduct_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list ofACCESS RIGHT IN PRODUCTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AccessRightInProductRef"/>
					<xsd:element ref="AccessRightInProduct" maxOccurs="unbounded"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AccessRightInProduct" type="AccessRightInProduct_VersionedChildStructure" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A VALIDABLE ELEMENT as a part of a PRE-ASSIGNED FARE PRODUCT, including its possible order in the set of all VALIDABLE ELEMENTs grouped together to define the access right assigned to that PRE-ASSIGNED FARE PRODUCT.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccessRightInProduct_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ACCESS RIGHT IN PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareElementInSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="AccessRightInProductGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessRightInProductGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ACCESS RIGHT IN PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PreassignedFareProductRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ChargingMethod" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A classification of FARE PRODUCTs according to the payment method and the account location: pre-payment with cancellation (throw-away), pre-payment with debit on a value card, pre-payment without consumption registration (pass), post-payment etc.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ChargingMethod_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ChargingMethodIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ChargingMethod_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a CHARGING METHOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==  FARE  PRICEs.============================= -->
	<xsd:complexType name="fareProductPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE PRODUCT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareProductPriceRef"/>
					<xsd:element name="FareProductPrice" type="FareProductPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a FARE STRUCTURE ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareProductPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a FARE PRODUCT ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareProductPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DiscountablePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareProductPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareProductPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FARE PRODUCT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DiscountablePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FareProductPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareProductPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for FARE PRODUCT PRICE</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareProductRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====VALIDABLE ELEMENT=================================================== -->
	<xsd:complexType name="validableElements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE PRODUCT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ValidableElementRef"/>
					<xsd:element ref="ValidableElement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ValidableElement" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A sequence or set of FARE STRUCTURE ELEMENTs, grouped together to be validated in one go.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ValidableElementStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ValidableElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ValidableElementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ValidableElementStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VALIDABLE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="ValidableElementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ValidableElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VALIDABLE ELEMENT Group</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of VALIDABLE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ChargingMethodRef" minOccurs="0"/>
			<xsd:element name="validityParameterAssignments" type="accessRightParameters_RelStructure" minOccurs="0"/>
			<xsd:element name="prices" type="fareProductPrices_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
