netex_part_3/part3_fares/netex_fareStructure_support-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_fareStucture_support">
	<xsd:include schemaLocation="netex_farePrice_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareProduct_support-v0.1.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European  prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE SERVICE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_FILEXX-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
                            <Copyright>CEN, VDV, PTIC 2010, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx  FARE STRUCTURE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ====FARE STRUCTURE.======================================================== -->
	<xsd:simpleType name="FareStructureIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE STRUCTURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareStructureRef" type="FareStructureRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  FARE STRUCTURE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareStructureRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE STRUCTURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="FareStructureIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE STRUCTURE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====FARE STRUCTURE ELEMENT.======================================================== -->
	<xsd:simpleType name="FareStructureElementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareStructureElementRef" type="FareStructureElementRefStructureElement" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareStructureElementRefStructureElement">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="FareStructureElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE STRUCTURE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === FARE STRUCTURE ELEMENT PRICE====================================================== -->
	<xsd:simpleType name="FareStructureElementPriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE STRUCTURE ELEMENT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DiscountablePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareStructureElementPriceRef" type="FareStructureElementPriceRefStructure" substitutionGroup="DiscountablePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE STRUCTURE ELEMENT PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareStructureElementPriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE STRUCTURE ELEMENT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DiscountablePriceRefStructure">
				<xsd:attribute name="ref" type="FareStructureElementPriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE STRUCTURE ELEMENT PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====DISTANCE MATRIX.======================================================== -->
	<xsd:simpleType name="DistanceMatrixIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DISTANCE MATRIX.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="DistanceMatrixRef" type="DistanceMatrixRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  DISTANCE MATRIX.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DistanceMatrixRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a DISTANCE MATRIX.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="DistanceMatrixIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DISTANCE MATRIX.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====DISTANCE MATRIX ELEMENT.======================================================== -->
	<xsd:simpleType name="DistanceMatrixElementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DISTANCE MATRIX ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="DistanceMatrixElementRef" type="DistanceMatrixElementRefStructureElement" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  DISTANCE MATRIX ELEMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DistanceMatrixElementRefStructureElement">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a DISTANCE MATRIX ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="DistanceMatrixElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DISTANCE MATRIX ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === DISTANCE MATRIX PRICE====================================================== -->
	<xsd:simpleType name="DistanceMatrixElementPriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DISTANCE MATRIX ELEMENT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DiscountablePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="DistanceMatrixElementPriceRef" type="DistanceMatrixElementPriceRefStructure" substitutionGroup="DiscountablePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DISTANCE MATRIX ELEMENT PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DistanceMatrixElementPriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a DISTANCE MATRIX ELEMENT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DiscountablePriceRefStructure">
				<xsd:attribute name="ref" type="DistanceMatrixElementPriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DISTANCE MATRIX ELEMENT PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====FARE STRUCTURE ELEMENT IN SEQUENCE======================================================== -->
	<xsd:simpleType name="FareStructureElementInSequenceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareElementInSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareStructureElementInSequenceRef" type="FareStructureElementInSequenceRefStructure" substitutionGroup="FareElementInSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareStructureElementInSequenceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareElementInSequenceRefStructure">
				<xsd:attribute name="ref" type="FareStructureElementInSequenceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====GEOGRAPHICAL UNIT.================================================== -->
	<xsd:simpleType name="GeographicalUnitIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GEOGRAPHICAL UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="GeographicalUnitRef" type="GeographicalUnitRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  GEOGRAPHICAL UNIT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GeographicalUnitRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GEOGRAPHICAL UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="GeographicalUnitIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GEOGRAPHICAL UNIT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====GEOGRAPHICAL INTERVAL================================================== -->
	<xsd:simpleType name="GeographicalIntervalIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GEOGRAPHICAL INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="GeographicalIntervalRef" type="GeographicalIntervalRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  GEOGRAPHICAL INTERVAL.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GeographicalIntervalRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GEOGRAPHICAL INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="GeographicalIntervalIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GEOGRAPHICAL INTERVAL.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====FARE STRUCTURE.======================================================== -->
	<xsd:simpleType name="FareStructureFactorIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareStructureFactorRef" type="FareStructureFactorRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  FARE STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareStructureFactorRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="FareStructureFactorIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE STRUCTURE FACTOR.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====QUALITY STRUCTURE FACTOR========================================== -->
	<xsd:simpleType name="QualityStructureFactorIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a QUALITY STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareStructureFactorIdType"/>
	</xsd:simpleType>
	<xsd:element name="QualityStructureFactorRef" type="QualityStructureFactorRefStructure" substitutionGroup="FareStructureFactorRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  QUALITY STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="QualityStructureFactorRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a QUALITY STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareStructureFactorRefStructure">
				<xsd:attribute name="ref" type="QualityStructureFactorIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a QUALITY STRUCTURE FACTOR.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====GEOGRAPHICAL STRUCTURE FACTOR========================================== -->
	<xsd:simpleType name="GeographicalStructureFactorIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareStructureFactorIdType"/>
	</xsd:simpleType>
	<xsd:element name="GeographicalStructureFactorRef" type="GeographicalStructureFactorRefStructure" substitutionGroup="FareStructureFactorRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GeographicalStructureFactorRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareStructureFactorRefStructure">
				<xsd:attribute name="ref" type="GeographicalStructureFactorIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===  GEOGRAPHICAL INTERVAL PRICE.============================================= -->
	<xsd:simpleType name="GeographicalIntervalPriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GEOGRAPHICAL INTERVAL PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DiscountablePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="GeographicalIntervalPriceRef" type="GeographicalIntervalPriceRefStructure" substitutionGroup="DiscountablePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a GEOGRAPHICAL INTERVAL PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GeographicalIntervalPriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GEOGRAPHICAL INTERVAL PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DiscountablePriceRefStructure">
				<xsd:attribute name="ref" type="GeographicalIntervalPriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GEOGRAPHICAL INTERVAL PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====GEOGRAPHICAL UNIT.================================================== -->
	<xsd:simpleType name="TimeUnitIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TIME UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TimeUnitRef" type="TimeUnitRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  TIME UNIT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimeUnitRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TIME UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TimeUnitIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TIME UNIT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TIME INTERVAL================================================== -->
	<xsd:simpleType name="TimeIntervalIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TIME INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="TimeIntervalRef" type="TimeIntervalRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  TIME INTERVAL.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimeIntervalRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TIME INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="TimeIntervalIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TIME INTERVAL.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TIME STRUCTURE FACTOR========================================== -->
	<xsd:simpleType name="TimeStructureFactorIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TIME STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareStructureFactorIdType"/>
	</xsd:simpleType>
	<xsd:element name="TimeStructureFactorRef" type="TimeStructureFactorRefStructure" substitutionGroup="FareStructureFactorRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a  TIME STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimeStructureFactorRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TIME STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareStructureFactorRefStructure">
				<xsd:attribute name="ref" type="TimeStructureFactorIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TIME STRUCTURE FACTOR.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===  TIME INTERVAL PRICE.============================================= -->
	<xsd:simpleType name="TimeIntervalPriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TIME INTERVAL PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DiscountablePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="TimeIntervalPriceRef" type="TimeIntervalPriceRefStructure" substitutionGroup="DiscountablePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TIME INTERVAL PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimeIntervalPriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TIME INTERVAL PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DiscountablePriceRefStructure">
				<xsd:attribute name="ref" type="TimeIntervalPriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TIME INTERVAL PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
