netex_part_1/part1_tacticalPlanning/netex_siteConnection_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_siteConnection_version">
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_servicePattern_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_siteConnection_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../part1_ifopt/netex_ifopt_stopPlace_version-v0.4.xsd"/>
	<xsd:include schemaLocation="../part1_ifopt/netex_ifopt_pointOfInterest_support-v0.3.xsd"/>
	<xsd:include schemaLocation="../part1_ifopt/netex_ifopt_parking_support-v0.3.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European  prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SITE CONNECTION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_FILEXX-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
                            <Copyright>CEN, VDV, PTIC 2010, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx  SITE CONNECTION types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="SiteConnection" abstract="false" substitutionGroup="Transfer">
		<xsd:annotation>
			<xsd:documentation> The physical (spatial) possibility  to connect from one point to another in a SITE.   </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SiteConnection_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
		
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransferGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SiteConnectionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SiteConnectionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SiteConnection_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SITE CONNECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Transfer_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SiteConnectionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SiteConnectionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SITE CONNECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="From" type="SiteConnectionEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Origin end of SITE CONNECTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="To" type="SiteConnectionEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destination end of SITE CONNECTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="navigationPaths" type="navigationPaths_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Navigation Paths betweenSites</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="SiteConnectionEndStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SITE CONNECTION.End</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TransportMode" type="AllVehicleModesOfTransportEnumeration" default="all" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MODE of  end point of  TRANSFER . Default is all modes, ie all modes of refernced stop place and or stop point</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StopAreaRef" type="StopAreaRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of a Place at end point of transfer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ScheduledStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of end SCHEDULED STOP POINT of  TRANSFER .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:group ref="StopPlaceEndGroup"/>
				<xsd:group ref="PointOfInterestEndGroup"/>
				<xsd:group ref="ParkingEndGroup"/>
			</xsd:choice>
			<xsd:element ref="OperatorView" minOccurs="0"/>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Laebl at end of site connection</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="StopPlaceEndGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for identfiyong a STOP PLACE at the end of a SITE CONNECTION</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="StopPlaceRef"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="AccessSpaceRef"/>
				<xsd:element ref="BoardingPositionRef"/>
				<xsd:element ref="QuayRef"/>
			</xsd:choice>
			<xsd:element ref="StopPlaceEntranceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ParkingEndGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for identfiyong a PARKING at the end of a SITE CONNECTION</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ParkingRef"/>
			<xsd:element ref="ParkingAreaRef" minOccurs="0"/>
			<xsd:element ref="ParkingEntranceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PointOfInterestEndGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for identifying a POI  at the end of a SITE CONNECTION</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PointOfInterestRef"/>
			<xsd:element ref="PointOfInterestSpaceRef" minOccurs="0"/>
			<xsd:element ref="PointOfInterestEntranceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="DefaultTransfer" abstract="false" substitutionGroup="Transfer">
		<xsd:annotation>
			<xsd:documentation>Specifies the default transfer times to transfer bertween MODEs and / or OPERATORs within a region</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DefaultTransfer_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransferGroup"/>
						</xsd:sequence>
						<xsd:group ref="DefaultTransferGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="DefaultTransferIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DefaultTransfer_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for DEFAULT TRANSFER</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Transfer_VersionStructure">
				<xsd:group ref="DefaultTransferGroup">
					<xsd:annotation>
						<xsd:documentation>Elements of regional TRANSFER  defaults</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DefaultTransferGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a  DEFAULT TRANSFER</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="From" type="DefaultTransferEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Origin end of DEFAULT TRANSFER</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="To" type="DefaultTransferEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destination end of DEFAULT TRANSFER</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TopographicPlaceView" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="DefaultTransferEndStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a DEFAULT TRANSFER</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TransportMode" type="VehicleModeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of MODE of  end point of  TRANSFER .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OperatorView" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
