netex_part_1/part1_tacticalPlanning/netex_journeyPattern_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_journeyPattern_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European  prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the JOURNEY PATTERN  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_FILEXX-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
                            <Copyright>CEN, VDV, PTIC 2010, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx  JOURNEY PATTERN types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="../part1_networkDescription/netex_line_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_route_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_servicePattern_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_journeyPatternTimings_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_footnoteAssignment_version-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="JourneyPatternInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for JOURNEY PATTERN in a frame</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="journeyPatterns" type="journeyPatternsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>JOURNEY PATTERNs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="journeyPatternsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  JOURNEY PATTERNs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="JourneyPattern_"/>
					<xsd:element ref="JourneyPatternView"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===Journey  Pattern===================================================== -->
	<xsd:element name="JourneyPattern_" type="LinkSequence_VersionStructure" abstract="true" substitutionGroup="LinkSequence">
		<xsd:annotation>
			<xsd:documentation>Dummy Supertype for JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JourneyPattern" abstract="false" substitutionGroup="JourneyPattern_">
		<xsd:annotation>
			<xsd:documentation>An ordered list of STOP POINTs and TIMING POINTs on a single ROUTE, describing the pattern of working for public transport vehicles.A JOURNEY PATTERN may pass through the same POINT more than once.The first point of a JOURNEY PATTERN is the origin. The last point is the destination.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyPattern_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyPatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyPatternIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyPattern_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for  JOURNEY PATTERN. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkSequence_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="JourneyPatternProperties"/>
			<xsd:group ref="JourneyPatternSequencesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="JourneyPatternSequencesGroup">
		<xsd:annotation>
			<xsd:documentation>Sequen ceElements for JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="runTimes" type="journeyPatternRunTimes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered run times for JOURNEY PATTERN, specific to a TIME DEMAND TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="headways" type="journeyPatternHeadways_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Wait times for TIMING POINT. There may be different times for different time demands</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="layovers" type="journeyPatternLayovers_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Layovers associated with JOURNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pointsInSequence" type="pointsInJourneyPattern_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sequence of points in JOURNEY PATTERNPoints may be SCHEDULED STOP POINTs or TIMING POINTs</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="linksInSequence" type="linksInJourneyPattern_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sequence of points in JOURNEY PATTERNPoints may be SCHEDULED STOP POINTs or TIMING POINTs</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="JourneyPatternProperties">
		<xsd:annotation>
			<xsd:documentation>Elements for JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="RouteRef" minOccurs="1"/>
				<xsd:element ref="RouteView"/>
			</xsd:choice>
			<xsd:element name="DirectionType" type="DirectionTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DIRECTION of  JOURNEY PATTERN. Should be same as for ROUTE on which PATTERN is based.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element ref="DirectionRef"/>
				<xsd:element ref="DirectionView"/>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element ref="DestinationDisplayRef"/>
				<xsd:element ref="DestinationDisplayView">
					<xsd:annotation>
						<xsd:documentation>Destination / Direction name for  JOURNEY PATTERN.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element ref="TypeOfJourneyPatternRef" minOccurs="0"/>
			<xsd:element ref="OperationalContextRef" minOccurs="0"/>
			<xsd:element ref="TimingPatternRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a TIMING PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="DeadRunJourneyPattern" abstract="false" substitutionGroup="JourneyPattern_">
		<xsd:annotation>
			<xsd:documentation>A JOURNEY PATTERN to be used for DEAD RUNs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeadRunJourneyPattern_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyPatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeadRunJourneyPatternIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeadRunJourneyPattern_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DEAD RUN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyPattern_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="pointsInJourneyPattern_RelStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice minOccurs="2" maxOccurs="unbounded">
					<xsd:element ref="PointInJourneyPattern"/>
					<xsd:element ref="StopPointInJourneyPattern"/>
					<xsd:element ref="TimingPointInJourneyPattern"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PointInJourneyPattern" abstract="false" substitutionGroup="PointInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>A STOP POINT or TIMING POINT in a JOURNEY PATTERN with its order in that JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PointInJourneyPattern_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointInLinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointInJourneyPatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointInJourneyPatternIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PointInJourneyPattern_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="PointInJourneyPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PointInJourneyPattern_VersionedChildStructurex" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="PointInJourneyPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointInJourneyPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PointRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PointInJourneyPatternReferencesGroupXX">
		<xsd:annotation>
			<xsd:documentation>Elements for referncs for POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:sequence>
				<xsd:annotation>
					<xsd:documentation>There shoud be at least one of these. In some cases there may be distinct points</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="RoutePointRef" minOccurs="0"/>
				<xsd:element ref="TimingPointRef" minOccurs="0"/>
			</xsd:sequence>
			<xsd:element name="OnwardTimingLinkRef" type="TimingLinkRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Onward link - used to disambiguate if there are multiple links from the same stop, eg as for cloverleaf route topology. If not given explcity assume there is only one link that connects the two</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="StopPointInJourneyPatternReferencesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointInJourneyPatternReferencesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for referncs for POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OnwardServiceLinkRef" type="ServiceLinkRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Onward link from sheduled stop point - can be used to disambiguat</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notices" type="noticeAssignmentRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICEs for CALL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TimingPointWaitGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TIMING POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsWaitPoint" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether point is a wait poiht</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element name="WaitTime" type="xsd:duration">
					<xsd:annotation>
						<xsd:documentation>Wait time as interval. OPTIMISATION assuming default Time Demand. Use this to declare a single waiit time Other wise a list of times for different time demands</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="waitTimes" type="journeyPatternWaitTimes_RelStructure">
					<xsd:annotation>
						<xsd:documentation>Wait times for TIMING POINT. There may be different times for different time demands</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="headways" type="journeyPatternHeadways_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Wait times for TIMING POINT. There may be different times for different time demands</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointInPatternPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing common properties of  visit to stop</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RequestStop" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether stop is a request stop for this journey. Default is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StopUse" type="StopUseEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of use of stop, e.g. access, interchange only, or passthrough. Default is Access</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="DestinationViaGroup" minOccurs="0"/>
			<xsd:element name="ChangeOfDestinationDisplay" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether DESTINATION DISPLAY  shouldl be updated at this point. If DESTINATION NAME value is different from Previous stop this is implciit </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChangeOfServiceRequirements" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Service Requirements Change at thispoint </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="linksInJourneyPattern_RelStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ServiceLinkInJourneyPattern"/>
					<xsd:element ref="TimingLinkInJourneyPattern" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="LinkInJourneyPattern" abstract="false" substitutionGroup="LinkInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>A SERVICE LINK or TIMING LINK in a JOURNEY PATTERN with its order in that JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LinkInJourneyPattern_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkInJourneyPatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LinkInJourneyPatternIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LinkInJourneyPattern_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="LinkInJourneyPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LinkInJourneyPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="ServiceLinkRef"/>
			<xsd:element ref="TimingLinkRef"/>
		</xsd:choice>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="JourneyPatternView" type="JourneyPattern_DerivedViewStructure" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of a JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyPattern_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for JOURNEY PATTERN VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyPatternRef" minOccurs="0"/>
					<xsd:group ref="JourneyPatternProperties"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfJourneyPattern" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A classification of JOURNEY PATTERNs according to their functional purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfJourneyPattern_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfJourneyPatternIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfJourneyPattern_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
