netex_part_1/part1_tacticalPlanning/netex_journeyTimings_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_journeyTimings_version">
	<xsd:include schemaLocation="netex_journeyTimings_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_timeDemandType_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_organisation_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_timingPattern_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_version-v0.4.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version-v0.3.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support-v0.1.xsd"/>
	<!-- ===WaitTime===================================================== -->
	<xsd:complexType name="journeyWaitTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY WAIT TIMEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyWaitTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyWaitTime" abstract="false" substitutionGroup="JourneyDemand">
		<xsd:annotation>
			<xsd:documentation>The time a vehicle has to wait at a specific TIMING POINT IN JOURNEY PATTERN, for a specified TIME DEMAND TYPE.This wait time can be superseded by a VEHICLE JOURNEY WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyWaitTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyDemandGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyWaitTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyWaitTimeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyWaitTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for JOURNEY WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyDemand_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyWaitTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyWaitTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a JOURNEY WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimingPointRef" minOccurs="0"/>
			<xsd:element name="WaitTime" type="xsd:duration">
				<xsd:annotation>
					<xsd:documentation>Wait time as interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===PatternRunTime===================================================== -->
	<xsd:complexType name="JourneyRunTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyRunTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyRunTime" abstract="false" substitutionGroup="JourneyDemand">
		<xsd:annotation>
			<xsd:documentation>The time taken to traverse a TIMING LINK in a particular JOURNEY PATTERN, for a specified TIME DEMAND TYPE.If it exists, it will override the DEFAULT SERVICE JOURNEY RUN TIME and DEFAULT DEAD RUN RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyRunTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyDemandGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyRunTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyRunTimeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyRunTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for JOURNEY RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyDemand_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyRunTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyRunTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a JOURNEY RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimingLinkRef" minOccurs="0"/>
			<xsd:element name="RunTime" type="xsd:duration">
				<xsd:annotation>
					<xsd:documentation>RUN TIME as an interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===JLayoverTime===================================================== -->
	<xsd:complexType name="journeyLayovers_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of  JOURNEY LAYOVERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyLayover" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyLayover" abstract="false" substitutionGroup="JourneyDemand">
		<xsd:annotation>
			<xsd:documentation>Time allowance at the end of each journey on a specified JOURNEY PATTERN, to allow for delays and for other purposes.This layover supersedes any global layover and may be superseded by a specific VEHICLE JOURNEY LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyLayoverStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyDemandGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyLayoverGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyLayoverIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyLayoverStructure">
		<xsd:annotation>
			<xsd:documentation>Type for JOURNEY LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyDemand_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyLayoverGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyLayoverGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a JOURNEY LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Layover" type="xsd:duration">
				<xsd:annotation>
					<xsd:documentation>Layover time as interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PointRef"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== Metamodel ================================================================ -->
	<xsd:complexType name="journeyHeadways_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY HEADWAY Interval .</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyHeadway" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyHeadway" abstract="false" substitutionGroup="JourneyDemand">
		<xsd:annotation>
			<xsd:documentation>A frequency at  which a given VEHICLE JOURNEY will run.  . This frequency supersedes any global frequency or JOURNEY PATTERN FREQUENCY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyHeadway_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyDemandGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="HeadwayIntervalGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyHeadwayIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyHeadway_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a JOURNEY HEADWAY Interval .</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyDemand_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="HeadwayIntervalGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="HeadwayIntervalGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a JOURNEY HEADWAY Interval .</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ScheduledHeadwayInterval" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Scheduled normal headway interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumHeadwayInterval" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum headway interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumHeadwayInterval" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum headway interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="HeadwayIntervalStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a HEADWAY INTERVAL </xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="HeadwayIntervalGroup"/>
	</xsd:complexType>
</xsd:schema>
