netex_part_1/part1_networkDescription/netex_networkRestriction_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_networkRestriction_version">
	<xsd:include schemaLocation="netex_networkInfrastructure_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_networkRestriction_support-v0.1.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European  prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the NETWORK RESTRICTION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_networkRestriction_version-v0.1.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires> >
				</Relation>
				<Rights>Unclassified
                            <Copyright>CEN, VDV, PTIC 2010, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx  NETWORK RESTRICTION types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<!-- ======================================================================= -->
	<xsd:group name="NetworkDescriptionInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for  NETWORK DESCRIPTION in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="NetworkInfrastuctureInFrameGroup"/>
			<xsd:group ref="NetworkRestrictionInFrameGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="NetworkRestrictionInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="restrictions" type="networkRestrictionsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>restrictions on network</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="networkRestrictionsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="NetworkRestriction" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===NETWORK RESTRICTIONs================================================= -->
	<xsd:element name="NetworkRestriction" type="NetworkRestriction_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A constraint on use of a network of INFRASTRUCTURE POINTs and INFRASTUCTURE LINKs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NetworkRestriction_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a  NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="NetworkRestrictionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="NetworkRestrictionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Possible" type="xsd:boolean" default="true">
				<xsd:annotation>
					<xsd:documentation>Whether a NETWORK RESTRICTION is allowed or forbidden. Default is true</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of NETWORK RESTRICTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ====Point Restriction====================================================== -->
	<xsd:element name="VehicleTypeAtPoint" abstract="false" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>NETWORK RESTRICTION. specifying whether a vehicle of a specified VEHICLE TYPE may visit a point.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleTypeAtPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">

							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleTypeAtPointGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleTypeAtPointIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleTypeAtPoint_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE TYPE AT POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NetworkRestriction_VersionStructure">
				<xsd:group ref="VehicleTypeAtPointGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleTypeAtPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE TYPE AT POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ForVehicleTypeRef" type="VehicleTypeRefStructure">
				<xsd:annotation>
					<xsd:documentation>Type of VEHICLE to which NETWORK RESTRICTION applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Capacity" type="NumberOfVehicles" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of vehicles allowed at a point at a given time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====Link Restrictions===================================================== -->
	<xsd:element name="InfrastructureLinkRestriction" abstract="true" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>a NETWORK RESTRICTION on movement between any two network links.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="InfrastructureLinkRestriction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
				 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="NetworkRestrictionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="InfrastructureLinkRestriction_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a NETWORK LINK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NetworkRestriction_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="Manoeuvre_" type="NetworkRestriction_VersionStructure" abstract="true" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>Dummy supertype for manoeuvres </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Manoeuvre" abstract="true" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>A specification of an move for a certain type of vehicle. It specifies from which INFRASTRUCTURE LINK to which other (adjacent) INFRASTRUCTURE LINK a certain can or cannot VEHICLE TYPE cannot proceed, due to physical restrictions</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Manoeuvre_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
			 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="ManoeuvreGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="ManoeuvreIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Manoeuvre_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructureLinkRestriction_VersionStructure">
				<xsd:group ref="ManoeuvreGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ManoeuvreGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a  MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of TYPE OF VEHICLE making MANOEUVRE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="RoadLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Road MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromLinkRef" type="RoadLinkRefStructure">
				<xsd:annotation>
					<xsd:documentation>Restriction applies to movements starting from INFRASTRUCTURE LINK identified by this Reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToLinkRef" type="RoadLinkRefStructure">
				<xsd:annotation>
					<xsd:documentation>Restriction applies to movements ending on INFRASTRUCTURE LINK identified by this reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="RailwayLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a RAILWAY MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromLinkRef" type="RailwayLinkRefStructure">
				<xsd:annotation>
					<xsd:documentation>Restriction applies to movements starting from INFRASTRUCTURE LINK identified by this Reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToLinkRef" type="RailwayLinkRefStructure">
				<xsd:annotation>
					<xsd:documentation>Restriction applies to movements ending on INFRASTRUCTURE LINK identified by this reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="WireLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Wire MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromLinkRef" type="WireLinkRefStructure">
				<xsd:annotation>
					<xsd:documentation>Restriction applies to movements starting from INFRASTRUCTURE LINK identified by this Reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToLinkRef" type="WireLinkRefStructure">
				<xsd:annotation>
					<xsd:documentation>Restriction applies to movements ending on INFRASTRUCTURE LINK identified by this reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RailwayManoeuvre" abstract="false" substitutionGroup="Manoeuvre_">
		<xsd:annotation>
			<xsd:documentation>A MANOEUVRE on a rail network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RailwayManoeuvre_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
	 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="ManoeuvreGroup"/>
						<xsd:group ref="RailwayLinkGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RailwayManoeuvreIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RailwayManoeuvre_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a RAILWAY MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Manoeuvre_VersionStructure">
				<xsd:group ref="RailwayLinkGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="RoadManoeuvre" abstract="false" substitutionGroup="Manoeuvre_">
		<xsd:annotation>
			<xsd:documentation>A MANOEUVRE on a road network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoadManoeuvre_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
	 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="ManoeuvreGroup"/>
						<xsd:group ref="RoadLinkGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoadManoeuvreIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoadManoeuvre_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a Road MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Manoeuvre_VersionStructure">
				<xsd:group ref="RoadLinkGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="WireManoeuvre" abstract="false" substitutionGroup="Manoeuvre_">
		<xsd:annotation>
			<xsd:documentation>A MANOEUVRE on a wire network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WireManoeuvre_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
		 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="ManoeuvreGroup"/>
						<xsd:group ref="WireLinkGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="WireManoeuvreIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WireManoeuvre_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a Wire MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Manoeuvre_VersionStructure">
				<xsd:group ref="WireLinkGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="MeetingRestriction" type="MeetingRestriction_VersionStructure" abstract="true" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>A pair of INFRASTRUCTURE LINKs where vehicles of specified VEHICLE TYPEs are not allowed to meet.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MeetingRestriction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructureLinkRestriction_VersionStructure">
				<xsd:group ref="MeetingRestrictionGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MeetingRestrictionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a  MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ForVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of vehicle that may use forwards direction of INFRASTRUCTURE LINK</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AgainstVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of vehicle that may use backwards direction of  INFRASTRUCTURE LINK</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RailwayMeetingRestriction" abstract="false" substitutionGroup="MeetingRestriction">
		<xsd:annotation>
			<xsd:documentation>A MEETING RESTRICTION on a rail network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RailwayMeetingRestriction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
					 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="MeetingRestrictionGroup"/>
						<xsd:group ref="RailwayLinkGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RailwayMeetingRestrictionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RailwayMeetingRestriction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Railway MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MeetingRestriction_VersionStructure">
				<xsd:group ref="RailwayLinkGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="RoadMeetingRestriction" abstract="false" substitutionGroup="MeetingRestriction">
		<xsd:annotation>
			<xsd:documentation>A MEETING RESTRICTION on a road network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoadMeetingRestriction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
						 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="MeetingRestrictionGroup"/>
						<xsd:group ref="RoadLinkGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoadMeetingRestrictionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoadMeetingRestriction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Road MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MeetingRestriction_VersionStructure">
				<xsd:group ref="RoadLinkGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="WireMeetingRestriction" abstract="false" substitutionGroup="MeetingRestriction">
		<xsd:annotation>
			<xsd:documentation>A MEETING RESTRICTION on a wire network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WireMeetingRestriction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
				 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="MeetingRestrictionGroup"/>
						<xsd:group ref="WireLinkGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="WireMeetingRestrictionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WireMeetingRestriction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for WIRE MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MeetingRestriction_VersionStructure">
				<xsd:group ref="WireLinkGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="OvertakingPossibility_" type="MeetingRestriction_VersionStructure" abstract="true" substitutionGroup="MeetingRestriction">
		<xsd:annotation>
			<xsd:documentation>Dummy suoertype for NetworkRestriction</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OvertakingPossibility" abstract="true" substitutionGroup="OvertakingPossibility_">
		<xsd:annotation>
			<xsd:documentation>NETWORK RESTRICTION specifying the possibility of overtaking or not over an INFRASTRUCTURE LINK</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OvertakingPossibility_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
					 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="ForVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Type of vehicle that may use forwards direction of INFRASTRUCTURE LINK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AgainstVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Type of vehicle that may use backwards direction of  INFRASTRUCTURE LINK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OvertakingPossibilityIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OvertakingPossibility_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MeetingRestriction_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="RailwayOvertakingPossibility" abstract="false" substitutionGroup="OvertakingPossibility_">
		<xsd:annotation>
			<xsd:documentation>An OVERTAKING POSSIBILITY.on a rail network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RailwayOvertakingPossibility_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
						 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="MeetingRestrictionGroup"/>
						<xsd:group ref="RailwayOvertakingPossibilityGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RailwayOvertakingPossibilityIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RailwayOvertakingPossibility_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an RAILWAY OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OvertakingPossibility_VersionStructure">
				<xsd:group ref="RailwayOvertakingPossibilityGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RailwayOvertakingPossibilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a RAILWAY OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="RailwayLinkGroup"/>
			<xsd:choice>
				<xsd:element name="OvertakingAtPointRef" type="RailwayPointRefStructure">
					<xsd:annotation>
						<xsd:documentation>Identifier of a point at which two vehicles of the specified VEHICLE TYPE may pass.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="OvertakingAtLinkRef" type="RailwayLinkRefStructure">
					<xsd:annotation>
						<xsd:documentation>Identifier of an INFRASTRUCTURE LINK over  which two vehicles of the specified VEHICLE TYPE may pass in the indicated directions .</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RoadOvertakingPossibility" abstract="false" substitutionGroup="OvertakingPossibility_">
		<xsd:annotation>
			<xsd:documentation>An OVERTAKING POSSIBILITY.on a road network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoadOvertakingPossibility_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
					 
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="MeetingRestrictionGroup"/>
						<xsd:group ref="RoadOvertakingPossibilityGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoadOvertakingPossibilityIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoadOvertakingPossibility_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a ROAD OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OvertakingPossibility_VersionStructure">
				<xsd:group ref="RoadOvertakingPossibilityGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RoadOvertakingPossibilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a  ROAD OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="RoadLinkGroup"/>
			<xsd:choice>
				<xsd:element name="OvertakingAtPointRef" type="RoadPointRefStructure">
					<xsd:annotation>
						<xsd:documentation>Identifier of a point at which two vehicles of the specified VEHICLE TYPE may pass.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="OvertakingAtLinkRef" type="RoadLinkRefStructure">
					<xsd:annotation>
						<xsd:documentation>Identifier of an INFRASTRUCTURE LINK over  which two vehicles of the specified VEHICLE TYPE may pass in the indicated directions .</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="WireOvertakingPossibility" abstract="false" substitutionGroup="OvertakingPossibility_">
		<xsd:annotation>
			<xsd:documentation>An OVERTAKING POSSIBILITY.on a wire network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WireOvertakingPossibility_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">

							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="MeetingRestrictionGroup"/>
						<xsd:group ref="WireOvertakingPossibilityGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="WireOvertakingPossibilityIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WireOvertakingPossibility_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a WIRE OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OvertakingPossibility_VersionStructure">
				<xsd:group ref="WireOvertakingPossibilityGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="WireOvertakingPossibilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a WIRE OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="WireLinkGroup"/>
			<xsd:choice>
				<xsd:element name="OvertakingAtPointRef" type="WirePointRefStructure">
					<xsd:annotation>
						<xsd:documentation>Identifier of a point at which two vehicles of the specified VEHICLE TYPE may pass.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="OvertakingAtLinkRef" type="WireLinkRefStructure">
					<xsd:annotation>
						<xsd:documentation>Identifier of an INFRASTRUCTURE LINK over  which two vehicles of the specified VEHICLE TYPE may pass in the indicated directions .</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
