netex_part_1/part1_networkDescription/netex_flexibleNetwork_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_flexibleNetwork_version">
	<xsd:include schemaLocation="../part1_networkDescription/netex_route_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_line_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../part1_ifopt/netex_ifopt_stopPlace_support-v0.3.xsd"/>
	<xsd:include schemaLocation="../part1_ifopt/netex_ifopt_flexibleStopPlace_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_flexibleNetwork_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_contact-v0.1.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European  prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FLEXIBLE NETWORK  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_FILEXX-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
                            <Copyright>CEN, VDV, PTIC 2010, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx  FLEXIBLE NETWORK types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="FlexibleLine" abstract="false" substitutionGroup="Line_">
		<xsd:annotation>
			<xsd:documentation>A group of FLEXIBLE ROUTEs of which is generally known to the public by a similar name or number and which have common booking arrangements</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleLine_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LineGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexibleLineGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleLineIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleLine_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for FLEXIBLE LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Line_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FlexibleLineGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleLineGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for FLEXIBLE LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="notes" type="notices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Note about FLEXIBLE LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FlexibleLineType" type="FlexibleTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of FLEXIBLE LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BookingContact" type="ContactStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Booking contact details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="BookingArrangementsGroup"/>
			<xsd:element name="stopPlaces" type="stopPlaceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Stop places that FLEXIBLE Line covers.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flexiblePlaces" type="flexibleStopPlaceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Flexible places that FLEXIBLE Line covers.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="BookingArrangementsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Booking Arrangements of a FLEXIBLE LINE. May be overriden on an individual Flexible service</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BookingMethods" type="FlexibleBookingMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed Ways of Making a BOOKING</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BookingAccess" type="BookingAccessEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Who can make a booking. Default is public</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LatestBookingTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Latest time in day that booking can be made</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumBookingPeriod" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum interval in advance of departure day or time that Service may ebe ordered </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bookingNotes" type="notices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Note about booking the  FLEXIBLE LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="BookingArrangementsStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for BOOKING ARRANGEMENTS</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="BookingArrangementsGroup"/>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ==FlexibleRoute============================================================ -->
	<xsd:element name="FlexibleRoute" abstract="false" substitutionGroup="Route_">
		<xsd:annotation>
			<xsd:documentation>An ordered list of located POINTs defining  use of a road  network by a flexible  transport service. May include both point ant zonal areas.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleRoute_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RouteGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexibleRouteGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleRouteIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleRoute_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a FLEXIBLE ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Route_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FlexibleRouteGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleRouteGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for  FLEXIBLE ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FlexibleType" type="FlexibleTypeEnumeration" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="FlexibleLinkProperties" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Flexible properties of a LINK</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleLinkProperties_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexibleLinkPropertiesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleLinkPropertiesIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleLinkProperties_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for FLEXIBLE LINK PROPERTIES</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FlexibleLinkPropertiesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleLinkPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements forFLEXIBLE LINK PROPERTIES</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LinkRef" minOccurs="0"/>
			<xsd:element name="MayBeSkipped" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this link can be skipped</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OnMainRoute" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this link is considered to be on main route </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UnscheduledPath" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this link is on an unscheduled pathroute </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FlexibleLinkType" type="FlexibleLinkTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of flexible link</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="FlexiblePointProperties" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Flexible properties of a LINK</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexiblePointProperties_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexiblePointPropertiesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexiblePointPropertiesIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexiblePointProperties_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for FLEXIBLE POINT PROPERTIES</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FlexiblePointPropertiesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexiblePointPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements forFLEXIBLE POINT PROPERTIES</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PointRef" minOccurs="0"/>
			<xsd:element name="MayBeSkipped" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this link can be skipped</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OnMainRoute" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this link is considered to be on main route </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PointStandingForAZone" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this link is on an unscheduled pathroute </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ZoneContainingStops" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this link is on an unscheduled pathroute </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="FlexibleLineView" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>A group of FLEXIBLE ROUTEs of which is generally known to the public by a similar name or number and which have common booking arrangements</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="FlexibleLine_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleLine_DerivedViewStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for FLEXIBLE LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Line_DerivedViewStructure">
				<xsd:sequence>
					<xsd:element name="FlexibleLineType" type="FlexibleTypeEnumeration" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Type of FLEXIBLE LINE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="BookingContact" type="ContactStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Booking contact details</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="BookingArrangementsGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
