netex_framework/netex_reusableComponents/netex_address_version-v0.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<!-- 2007 03 23 add road numbers  -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3" id="netex_address_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2010-11-05</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange.This subschema defines common Address types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/ifopt}ifopt_address_version-v0.3.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
                            <Copyright>CEN, Crown Copyright 2006, 2007, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from  ds.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>Cen TC278 WG3 SG6</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ADDRESS types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>ADDRESS  types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_place_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_address_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_country_support-v0.2.xsd"/>
	<!--=============================================================================-->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="addressesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of ADDRESSes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Address" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--=============================================================================-->
	<xsd:element name="Address" type="Place_VersionStructure" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>An ADDRESS.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="Address_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Place_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AddressGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AddressGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CountryRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!--=============================================================================-->
	<xsd:element name="RoadAddress" substitutionGroup="Address">
		<xsd:annotation>
			<xsd:documentation>An ADDRESS of a numbered building on a named road.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoadAddress_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
				
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RoadAddressGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoadAddressIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoadAddress_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ROAD ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Address_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RoadAddressGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RoadAddressGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ROAD ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GisFeatureRef" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a GIS feature identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RoadNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Road Number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RoadName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Road name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BearingCompass" type="CompassBearing16Enumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bearing of road at point in compass octants to North</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BearingDegrees" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bearing of road  in absolute degrees against North</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OddNumberRange" type="RoadNumberRangeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Range of odd  house numbers that the ROAD ADDRESS covers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EvenNumberRange" type="RoadNumberRangeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Range of even house numbers that the ROAD ADDRESS covers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="RoadNumberRangeStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a range of numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromNumber" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="ToNumber" type="xsd:positiveInteger" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--=============================================================================-->
	<xsd:element name="PostalAddress" substitutionGroup="Address">
		<xsd:annotation>
			<xsd:documentation>An ADDRESS to which mail can be sent.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PostalAddress_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup">
						
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PostalAddressGroup"/>
							<xsd:element name="RoadAddressRef" type="AddressRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Road on which addres slies.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PostalAddressIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PostalAddress_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type forPOSTAL ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Address_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PostalAddressGroup"/>
					<xsd:element name="RoadAddressRef" type="AddressRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Road on which addres slies.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PostalAddressGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for POSTAL ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HouseNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of house on street</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BuildingName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of Building</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AddressLine1" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>First line of Address</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AddressLine2" type="MultilingualString" minOccurs="0"/>
			<xsd:element name="Street" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Street on which building is found</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Town" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Town, City, Village or orther named settlement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Suburb" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Subarea of Town.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Postcode or Zip code of address</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostCodeExtension" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Post code extension</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostalRegion" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Postal Region</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Province" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Province or State of COuntry</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!--=============================================================================-->
	<xsd:group name="AddressPlaceGroup">
		<xsd:annotation>
			<xsd:documentation>ADDRESSes associated with an ENTITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PostalAddress" minOccurs="0"/>
			<xsd:element ref="RoadAddress" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ADDRESS of a numbered building on a named road.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Url" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Web address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
