netex_framework/netex_reusableComponents/netex_place_version-v0.1.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_place_version">
	<xsd:include schemaLocation="netex_place_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_zone_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_zoneProjection_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_mode_version-v0.3.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European  prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the PLACE Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}place_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
                            <Copyright>CEN, VDV, PTIC 2010, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx  PLACE Types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="transfersInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  CONNECTIONs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Transfer" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="accessesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of ACCESS</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Access" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====Place========================================================== -->
	<xsd:element name="Place" type="Zone_VersionStructure" abstract="true" substitutionGroup="Zone">
		<xsd:annotation>
			<xsd:documentation>A named Place. A geographic place of any type which may be specified as the origin or destination of a trip. A PLACE may be of dimension 0 (a POINT), 1 (a road section) or 2 (a ZONE).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="Place_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Zone_VersionStructure">
				<xsd:group ref="PlaceGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PlaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="placeTypes" type="typeOfPlaceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of of PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="Transfer" type="Transfer_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>The possibility of a passenger to transer between two PLACEs. May have times associated for the transfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="Transfer_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a TRANSFER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TransferGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TransferGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRANSFER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of TRANSFER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfTransferRef" minOccurs="0"/>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of TRANSFER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validityConditions" type="validityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY CONDITIONS pertaining to TRANSFER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Distance" type="DistanceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance of TRANSFER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransferDuration" type="TransferDurationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timings for  the TRANSFER to use in journey planning, etc</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WalkTransferDuration" type="TransferDurationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timings for walking over TRANSFER if different from the JP transfer Duration</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BothWays" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether timings and validity applies to both directions (true) or just to the from-to direction of the TRANSFER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="TransferDuration" type="TransferDurationStructure">
		<xsd:annotation>
			<xsd:documentation>Times for TRANSFER.between two Points.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransferDurationStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TTRANSFER DURATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DefaultDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default Time for a Traveller to make a TRANSFER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FrequentTravellerDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time for a Frequent Traveller to make a TRANSFER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OccasionalTravellerDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time for an Occasional Traveller to make a TRANSFER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MobilityRestrictedTravellerDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time for a Mobility Restricted traveller to make a TRANSFER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="accesses_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ACCESS Links</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AccessRef"/>
					<xsd:element ref="Access"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Access" substitutionGroup="Transfer">
		<xsd:annotation>
			<xsd:documentation>The physical (spatial) possibility for a passenger to access or leave the public transport system. This link may be used during a trip for:- the walking movement of a passenger from a PLACE (origin of the trip) to a STOP POINT (origin of the PT TRIP), or- the walking movement from a STOP POINT (destination of the PT TRIP) to a PLACE (destination of the trip).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Access_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransferGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AccessIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Access_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a ACCESS link.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Transfer_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AccessGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACCESS link.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="From" type="AccessEndStructure">
				<xsd:annotation>
					<xsd:documentation>Origin end of ACCESS link.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="To" type="AccessEndStructure">
				<xsd:annotation>
					<xsd:documentation>Destination end of ACCESS link.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="AccessEndStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for ACCESS link end</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TransportMode" type="AllVehicleModesOfTransportEnumeration" default="all" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of MODE of  end point of  ACCESS link. Default is all modes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlaceRef" type="PlaceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of a PLACE at end point of ACCESS link.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PointRef" type="PointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of end point of  ACCESS link.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfTransfer" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Classification of a TRANSFER</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfTransfer_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfTransferIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfTransfer_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF TRANSFER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfPlace" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Classification of a PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfPlace_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfPlaceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfPlace_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
