netex_framework/netex_reusableComponents/netex_vehicleType_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_vehicleType_version">
	<xsd:include schemaLocation="netex_equipment_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_vehicleType_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../netex_utility/netex_units-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_transportOrganisation_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_equipmentVehiclePassenger_version-v01.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European  prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the  VEHICLE TYPE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_vehicleType_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
                            <Copyright>CEN, VDV, PTIC 2010, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx  VEHICLE TYPE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleType" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Type of VEHICLE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleType_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleTypeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleTypeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleType_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE. TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleTypeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleTypeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE. TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of VEHICLE TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of VEHICLE TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element name="ReversingDirection" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicles of the  type have a reversing direction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SelfPropelled" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicles of the  type are self-propelled.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TypeOfFuel" type="TypeOfFuelEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The type of fuel used by   a vehicle of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassengerCapacity" type="PassengerCapacityStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of passengers that VEHICLE TYPE. can carry</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VehicleAccessibilityRequirementsGroup"/>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The length of a vehicle of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IncludedIn" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Incldued in definition of vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ClassifiedAsRef" type="VehicleModelRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of type as being of a particular VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Facilities of vehicle</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VehicleRequirementsGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleRequirementsGroup">
		<xsd:annotation>
			<xsd:documentation>Elemenst specifying Requitement properties of VEHICLE TYPE. Vehicle shoudl satisfy all of  these requirements</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="canCarry" type="passengerCarryingRequirements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Capacity that VEHICLE TYPE should meet - indicates minimum rnumber of seats of each type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="canManoeuvre" type="vehicleManoeuvringRequirements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Manouvering  capabilities that VEHICLE TYPE should meet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="satisfiesFacilityRequirements" type="FacilityRequirements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FACILITIES requirements that VEHICLE TYPE should meet </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleAccessibilityRequirementsGroup">
		<xsd:annotation>
			<xsd:documentation>Elemenst specifying Requitement properties of VEHICLE TYPE. Vehicle shoudl satisfy these requirements</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LowFloor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Vehicle is low floor to facilitate access by the mobility impaired.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasLiftOrRamp" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle has lift or ramp to facilitate wheelchair access. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ServiceRequirement" type="ServiceRequirement_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Requirements for servcie</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceRequirement_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a  SERVICE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="ServiceRequirementGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServiceRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SERVICE REQUIREMENT    relevant for passenger systems</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="passengerCarryingRequirements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of  PASSENGER CARRYING REQUIREMENT.s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerCarryingRequirementRef"/>
					<xsd:element ref="PassengerCarryingRequirement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerCarryingRequirement" substitutionGroup="ServiceRequirement">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerCarryingRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServiceRequirementGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerCarryingRequirementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerCarryingRequirementIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerCarryingRequirement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ServiceRequirement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerCarryingRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerCarryingRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PassengerCapacityGroup"/>
			<xsd:group ref="VehicleAccessibilityRequirementsGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="PassengerCapacityStructure">
		<xsd:annotation>
			<xsd:documentation>Capacity for a vehicle</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="PassengerCapacityGroup"/>
	</xsd:complexType>
	<xsd:group name="PassengerCapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT.E  relevant for passenger systems</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SeatingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The seating capacity of vehicles of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StandingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The standing capacity of vehicles of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpecialPlaceCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of special places onf vehicles of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PushchairCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of push chair places on vehicles of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairPlaceCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of wheelcahirs places on vehicles of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PassengerCarryingRequirementsView" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerCarryingRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServiceRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerCarryingRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerCarryingRequirementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerCarryingPassengerCarrying_ViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerCarryingRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="vehicleManoeuvringRequirements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of  PASSENGER CARRYING REQUIREMENT.s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleManoeuvringRequirementRef"/>
					<xsd:element ref="VehicleManoeuvringRequirement">
						<xsd:annotation>
							<xsd:documentation>An area within a Site. May be connected to Quays by PATH LINKs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleManoeuvringRequirement" substitutionGroup="ServiceRequirement">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleManoeuvringRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServiceRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleManoeuvringRequirementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleManoeuvringRequirementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleManoeuvringRequirement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE Manoeuvring REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ServiceRequirement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleManoeuvringRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleManoeuvringRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE Manoeuvring REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Reversible" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle must be reversible</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumTurningCircle" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum distance needed to turn vehicle</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumOvertakingWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum distance needed to overtake.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumLength" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum distance needed to accomodate vehicle</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleManoeuvringRequirementCapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE Manoeuvring REQUIREMENT.E  relevant for passenger systems</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SeatingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The seating capacity of vehicles of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StandingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The standing capacity of vehicles of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpecialPlaceCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of special places onf vehicles of the  type .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="FacilityRequirements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of  FACILITY REQUIREMENT.s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FacilityRequirementRef"/>
					<xsd:element ref="FacilityRequirement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FacilityRequirement" substitutionGroup="ServiceRequirement">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FacilityRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServiceRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a  FACILITY REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FacilityRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a  FACILITY REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FacilityRequirementIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FacilityRequirement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a  FACILITY REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ServiceRequirement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FacilityRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FacilityRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a  FACILITY REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Facilities of vehicle</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="Vehicle" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A public transport vehicle used for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Vehicle_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Vehicle_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleGroup">
		<xsd:annotation>
			<xsd:documentation>Element for VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegistrationNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Licence plate of Vehicle</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperationalNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Licence plate of Vehicle</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element ref="OperatorRef" minOccurs="0"/>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
			<xsd:element name="actualVehicleEquipments" type="equipments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>equipment found in vehicle</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleModel" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A classification of public transport vehicles according to the vehicle scheduling requirements in MODE and capacity (e.g. standard bus, double-deck, ...).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleModel_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleModelGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleModelIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleModel_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="VehicleModelGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleModelGroup">
		<xsd:annotation>
			<xsd:documentation>Elementd for VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
			<xsd:element name="Manufacturer" type="MultilingualString" minOccurs="0"/>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleEquipmentProfile" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Each instantiation of this entity gives the number of items of one TYPE OF EQUIPMENT a VEHICLE MODEL should contain for a given PURPOSE OF EQUIPMENT PROFILE. The set of instantiations for one VEHICLE MODEL and one purpose gives one complete 'profile'.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleEquipmentProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleEquipmentProfileGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleEquipmentProfileIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleEquipmentProfile_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE EQUIPMENT PROFILE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="VehicleEquipmentProfileGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleEquipmentProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE EQUIPMENT PROFILE</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Profile" type="MultilingualString" minOccurs="0"/>
			<xsd:element name="Units" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Manufacturer" type="MultilingualString" minOccurs="0"/>
			<xsd:element ref="PurposeOfEquipmentRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
