netex_framework/netex_reusableComponents/netex_facility_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_facility_support">
	<xsd:include schemaLocation="netex_facility_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_availabilityCondition_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_travelRightValues_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_facility_uic_support-v0.1.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European  prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FACILITY subtypes </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_facility_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
                            <Copyright>CEN, VDV, PTIC 2010, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx  FACILITY identfier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="SiteFacilityListsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Site facilities</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="siteFacilityList" type="siteFacilitySetsInFrame_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="siteFacilitySetsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  SERVICE FACILITY SETs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SiteFacilitySet" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="serviceFacilitySetsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  SERVICE FACILITY SETs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ServiceFacilitySet" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="FacilitySet" type="FacilitySet_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Facility. Set of enumerated  FACILITY values (names based on TPEG classifications, augnmented with UIC etc.)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilitySet_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:element name="ProvidedByRef" type="OrganisationRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Provider of FACILITY SET.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="validityConditions" type="validityConditions_RelStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>When SERVICE FACILITY.is available</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Description" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Description of  FACILITY SET.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FacilitySetGroup">
		<xsd:annotation>
			<xsd:documentation>List of Facilities.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AccessibilityInfoFacilityList" minOccurs="0"/>
			<xsd:element ref="AccessibilityToolList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of Accessibility Tools.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Accommodation" type="AccommodationStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Allowd combinations of accommodation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AccommodationAccessList" minOccurs="0"/>
			<xsd:element ref="AccommodationFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of Accommodation FACILITies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AssistanceFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of Couchette FACILITies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CouchetteFacilityList" minOccurs="0"/>
			<xsd:element ref="FareClasses" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of Fare Classes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GenderLimitationList" minOccurs="0"/>
			<xsd:element ref="HireFacilityList" minOccurs="0"/>
			<xsd:element ref="LuggageCarriageFacilityList" minOccurs="0"/>
			<xsd:element ref="MobilityFacilityList" minOccurs="0"/>
			<xsd:element ref="NuisanceFacilityList" minOccurs="0"/>
			<xsd:element ref="PassengerCommsFacilityList" minOccurs="0"/>
			<xsd:element ref="PassengerInformationFacilityList" minOccurs="0"/>
			<xsd:element ref="ServiceReservationFacilityList" minOccurs="0"/>
			<xsd:element ref="RefreshmentFacilityList" minOccurs="0"/>
			<xsd:element ref="SanitaryFacilityList" minOccurs="0"/>
			<xsd:element ref="TicketingFacilityList" minOccurs="0"/>
			<xsd:element ref="UicProductCharacteristicList" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== Service FACILITY=======================================-->
	<xsd:complexType name="serviceFacilitySets_RelStructure">
		<xsd:annotation>
			<xsd:documentation>SERVICE FACILITi SETs assocated with entity </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ServiceFacilitySetRef"/>
					<xsd:element ref="ServiceFacilitySet"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ServiceFacilitySet" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Service FACILITY. Set of enumerated  FACILITY values (Where available names are  based on TPEG classifications, augnmented with UIC etc.)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ServiceFacilitySet_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="ProvidedByRef" type="OrganisationRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Provider of FACILITY SET.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="validityConditions" type="validityConditions_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>When SERVICE FACILITY.is available</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Description of  FACILITY SET.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServiceFacilitySetGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ServiceFacilitySetIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServiceFacilitySet_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SERVICE FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FacilitySet_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ServiceFacilitySetGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServiceFacilitySetGroup">
		<xsd:annotation>
			<xsd:documentation>Combinations of Facilities that apply to services.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="CommonFacilityGroup"/>
			<xsd:group ref="ServiceFacilityGroup"/>
			<xsd:element name="OtherFacility" type="xsd:normalizedString" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Other facility </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="CommonFacilityGroup">
		<xsd:annotation>
			<xsd:documentation>Facilities that apply to services and sites.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AccessibilityInfoFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of ACCESSIBILITY INFORMATION FACILITies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AssistanceFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of Couchette FACILITies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="FamilyFacilityList" minOccurs="0"/>
			<xsd:element ref="FareClasses" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of Fare Classes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GenderLimitationList" minOccurs="0"/>
			<xsd:element ref="MealFacilityList" minOccurs="0"/>
			<xsd:element ref="MobilityFacilityList" minOccurs="0"/>
			<xsd:element ref="NuisanceFacilityList" minOccurs="0"/>
			<xsd:element ref="PassengerCommsFacilityList" minOccurs="0"/>
			<xsd:element ref="RefreshmentFacilityList" minOccurs="0"/>
			<xsd:element ref="RetailFacilityList" minOccurs="0"/>
			<xsd:element ref="SafetyFacilityList" minOccurs="0"/>
			<xsd:element ref="SanitaryFacilityList" minOccurs="0"/>
			<xsd:element ref="TicketingFacilityList" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ServiceFacilityGroup">
		<xsd:annotation>
			<xsd:documentation>Facilities that apply to services.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Accommodation" type="AccommodationStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Allowed values for accommodation combinations</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AccommodationAccessList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of Accommodation Access </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AccommodationFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of Accommodation FACILITies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="BoardingPermisssion" minOccurs="0"/>
			<xsd:element ref="BookingProcessFacilityList" minOccurs="0"/>
			<xsd:element ref="CouchetteFacilityList" minOccurs="0"/>
			<xsd:element ref="GroupBookingFacility" minOccurs="0"/>
			<xsd:element ref="LuggageCarriageFacilityList" minOccurs="0"/>
			<xsd:element name="OnboardStay" type="OnboardStayStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Allowed combinbations of permissiosn to stay on   board</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PassengerInformationFacilityList" minOccurs="0"/>
			<xsd:element ref="ServiceReservationFacilityList" minOccurs="0"/>
			<xsd:element ref="UicProductCharacteristicList" minOccurs="0"/>
			<xsd:element ref="UicTrainRate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AllFacilitiesGroup">
		<xsd:annotation>
			<xsd:documentation>All FACILITies</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="AccessibilityToolList">
					<xsd:annotation>
						<xsd:documentation>List of Accessibility Tools.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="AccommodationFacilityList">
					<xsd:annotation>
						<xsd:documentation>List of Accommodation FACILITies.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="AssistanceFacilityList">
					<xsd:annotation>
						<xsd:documentation>List of Couchette FACILITies.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="FareClasses">
					<xsd:annotation>
						<xsd:documentation>List of Fare Classes.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="HireFacilityList" maxOccurs="1"/>
				<xsd:element ref="LuggageCarriageFacilityList"/>
				<xsd:element ref="MobilityFacilityList"/>
				<xsd:element ref="NuisanceFacilityList"/>
				<xsd:element ref="PassengerInformationFacilityList"/>
				<xsd:element ref="PassengerCommsFacilityList"/>
				<xsd:element ref="RefreshmentFacilityList"/>
				<xsd:element ref="SanitaryFacilityList"/>
				<xsd:element ref="TicketingFacilityList"/>
				<xsd:element name="OtherFacility" type="xsd:normalizedString">
					<xsd:annotation>
						<xsd:documentation>Other facility </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== SIteFacility=======================================-->
	<xsd:complexType name="siteFacilitySets_RelStructure">
		<xsd:annotation>
			<xsd:documentation>SITE FACILITies assocated with entity </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="SiteFacilitySetRef"/>
					<xsd:element ref="SiteFacilitySet"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SiteFacilitySet">
		<xsd:annotation>
			<xsd:documentation>Set of enumerated  FCILITY values thaty are relevant to a SITE (names based on TPEG classifications, augnmented with UIC etc.)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SiteFacilitySetStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="ProvidedByRef" type="OrganisationRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Provider of FACILITY SET.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="validityConditions" type="validityConditions_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>When SERVICE FACILITY.is available</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Description of  FACILITY SET.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SiteFacilitySetGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SiteFacilitySetIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SiteFacilitySetStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a Site FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FacilitySet_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SiteFacilitySetGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SiteFacilitySetGroup">
		<xsd:annotation>
			<xsd:documentation>Facilities that apply to SITEs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="CommonFacilityGroup"/>
			<xsd:group ref="SiteFacilityGroup"/>
			<xsd:element name="OtherFacility" type="xsd:normalizedString" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Other facility </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SiteFacilityGroup">
		<xsd:annotation>
			<xsd:documentation>Facilities that apply SITEsSites.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AccessFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List ofof ACCESS FACILITies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AccessibilityToolList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of ACCESSIBILITY TOOLs</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="EmergencyServiceList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of EMERGENCY SERVICE FACILITies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="HireFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of  HIRE FACILITies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="LuggageLockerFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of LUGGAGE LOCKER FACILITies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="LuggageServiceFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of LUGGAGE SERVICE FACILITies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MoneyFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of MONEY FACILITies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ParkingFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of PARKING FACILITies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PassengerInformationFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of PASSENGER INFORMATION FACILITies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassengerInformationEquipmentList" type="PassengerInformationEquipmentEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of PassngerInformnation Eequipments</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TicketingServiceFacilityList" minOccurs="0"/>
			<xsd:element ref="Staffing" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of STAFFING</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================== -->
	<xsd:complexType name="AccommodationStructure">
		<xsd:annotation>
			<xsd:documentation>Type for allowed combinations of accomodation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareClass" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fare class of Accommodation  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AccommodationFacility" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of  Accommodation . Deafult is seating </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CouchetteFacility" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Couchette</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShowerFacility" type="SanitaryFacilityEnumeration" default="none" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shower facilities for accommodation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToiletFacility" type="SanitaryFacilityEnumeration" default="none" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shower facilities for accommodation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===ONBOARD STAY ====================================== -->
	<xsd:complexType name="OnboardStayStructure">
		<xsd:annotation>
			<xsd:documentation>Type for allowed combinations of boarding permisssion</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareClass" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fare class of Boarding permisssion</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="BoardingPermisssion" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of  Accommodation . Deafult is seating </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Period" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Period allowed for boarding/ alighting before journey  start /end</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================== -->
	<!-- ===Access FACILITY====================================== -->
	<xsd:element name="AccessFacility" type="AccessFacilityEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of ACCESS FACILITY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccessFacilityList" type="AccessFacilityListOfEnumerations" default="unknown">
		<xsd:annotation>
			<xsd:documentation>List ofof ACCESS FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AccessFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for ACCESS FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AccessFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- === Accessibility Info FACILITY====================================== -->
	<xsd:element name="AccessibilityInfoFacility" type="AccessibilityInfoFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of  ACCESSIBILITY INFO FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccessibilityInfoFacilityList" type="AccessibilityInfoFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of ACCESSIBILITY INFO FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AccessibilityInfoFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for ACCESSIBILITY INFO FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AccessibilityInfoFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Access FACILITY====================================== -->
	<xsd:element name="AccessibilityTool" type="AccessibilityToolEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of ACCESSIBILITY TOOLs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccessibilityToolList" type="AccessibilityToolListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of ACCESSIBILITY TOOLs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AccessibilityToolListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for  ACCESSIBILITY TOOLs</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AccessibilityToolEnumeration"/>
	</xsd:simpleType>
	<!-- ===Accommodation FACILITY====================================== -->
	<xsd:element name="AccommodationAccess" type="AccommodationAccessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of ACCOMMODATION ACCESS type - </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccommodationAccessList" type="AccommodationAccessListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of ACCOMMODATION ACCESS</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AccommodationAccessListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for ACCOMMODATION ACCESS</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AccommodationAccessEnumeration"/>
	</xsd:simpleType>
	<!-- ===Accommodation FACILITY====================================== -->
	<xsd:element name="AccommodationFacility" type="AccommodationFacilityEnumeration" default="seating">
		<xsd:annotation>
			<xsd:documentation>Classification of ACCOMMODATION FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccommodationFacilityList" type="AccommodationFacilityListOfEnumerations" default="unknown">
		<xsd:annotation>
			<xsd:documentation>List of ACCOMMODATION FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AccommodationFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for ACCOMMODATION FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AccommodationFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Assistance FACILITY====================================== -->
	<xsd:element name="AssistanceFacility" type="AssistanceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of ASSISTANCE FACILITY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AssistanceFacilityList" type="AssistanceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of ASSISTANCE FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AssistanceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for ASSISTANCE FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AssistanceFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- === BookingFACILITY====================================== -->
	<xsd:element name="BoardingPermisssion" type="BoardingPermissionEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of BOARDING PERMISSION - UIC 7161 Code list</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- === BookingFACILITY====================================== -->
	<xsd:element name="BookingProcessFacility" type="BookingProcessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of BOOKING PROCESS FACILITY  type - UIC 7037 Code list</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BookingProcessFacilityList" type="BookingProcessFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of  BOOKING PROCESS FACILITies  UIC 7037 Code list</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="BookingProcessFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for  BOOKING PROCESS FACILITY UIC 7037 Code list</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="BookingProcessEnumeration"/>
	</xsd:simpleType>
	<!-- ===Accommodation FACILITY====================================== -->
	<xsd:element name="CouchetteFacility" type="AccommodationFacilityEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of COUCHETTE FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CouchetteFacilityList" type="CouchetteFacilityListOfEnumerations" default="unknown">
		<xsd:annotation>
			<xsd:documentation>List of COUCHETTE FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="CouchetteFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for COUCHETTE FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="CouchetteFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- EmergebncyFACILITY====================================== -->
	<xsd:element name="EmergencyService" type="EmergencyServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of EMERGENCY SERVCEs FACILITY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmergencyServiceList" type="EmergencyServiceListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of EMERGENCY SERVCEs FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="EmergencyServiceListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for EMERGENCY SERVCEs</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="EmergencyServiceEnumeration"/>
	</xsd:simpleType>
	<!-- ===Family FACILITY====================================== -->
	<xsd:element name="FamilyFacility" type="FamilyFacilityEnumeration" default="none">
		<xsd:annotation>
			<xsd:documentation>Classification of  FAMILY FACILITies.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FamilyFacilityList" type="FamilyFacilitiesListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of FAMILY FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="FamilyFacilitiesListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for  FAMILY FACILITies</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="FamilyFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===FareClass FACILITY====================================== -->
	<xsd:element name="FareClass" type="FareClassEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of FARE CLASSes type</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FareClasses" type="FareClassListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of FARE CLASSes</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="FareClassListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for FARE CLASSes</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="FareClassEnumeration"/>
	</xsd:simpleType>
	<!-- ===Group  FACILITY====================================== -->
	<xsd:element name="GroupBookingFacility" type="GroupBookingEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of GROUP FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ===Hire FACILITY====================================== -->
	<xsd:element name="HireFacility" type="HireFacilityEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of Hire FACILITY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HireFacilityList" type="HireFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Hire FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="HireFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for HireFacility</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="HireFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Luggage  Carriage FACILITY====================================== -->
	<xsd:element name="LuggageCarriageFacility" type="LuggageCarriageEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of LUGGAGE CARRIAGE FACILITY  type  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LuggageCarriageFacilityList" type="LuggageCarriageFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of LUGGAGE CARRIAGE FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="LuggageCarriageFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for LUGGAGE  CARRIAGE FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="LuggageCarriageEnumeration"/>
	</xsd:simpleType>
	<!-- ===Luggage  Locker FACILITY====================================== -->
	<xsd:element name="LuggageLockerFacility" type="LuggageLockerFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of LUGGAGE LOCKER FACILITY  type  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LuggageLockerFacilityList" type="LuggageLockerFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of LUGGAGE LOCKER FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="LuggageLockerFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for LUGGAGE LOCKERFacility</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="LuggageLockerFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Luggage  FACILITY====================================== -->
	<xsd:element name="LuggageServiceFacility" type="LuggageServiceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of LUGGAGE SERVICE FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LuggageServiceFacilityList" type="LuggageServiceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of LUGGAGE SERVICE FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="LuggageServiceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for LUGGAGE SERVICE FACILITies </xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="LuggageServiceFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===MEAL FACILITY====================================== -->
	<xsd:element name="MealFacility" type="MealFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Classification of MEAL FACILITY  type  .</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MealFacilityList" type="MealFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of MEAL FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="MealFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for MEAL FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="MealFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Mobility FACILITY====================================== -->
	<xsd:element name="MobilityFacility" type="MobilityFacilityEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of MOBILITY FACILITY   .</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MobilityFacilityList" type="MobilityFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of MOBILITY FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="MobilityFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for MOBILITY FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="MobilityFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- Meney FACILITY====================================== -->
	<xsd:element name="MoneyFacility" type="MoneyFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of MONEY FACILITY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MoneyFacilityList" type="MoneyFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of MONEY FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="MoneyFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for MONEY FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="MoneyFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Nuisance  FACILITY====================================== -->
	<xsd:element name="NuisanceFacility" type="NuisanceFacilityListOfEnumerations" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of NUISANCE FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NuisanceFacilityList" type="NuisanceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of NUISANCE FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NuisanceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for NUISANCE FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="NuisanceFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Parking FACILITY====================================== -->
	<xsd:element name="ParkingFacility" type="ParkingFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of PARKING FACILITY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ParkingFacilityList" type="ParkingFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of PARKING FACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ParkingFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for PARKING FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ParkingFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- === PassengerInfo FACILITY====================================== -->
	<xsd:element name="PassengerInformationFacility" type="PassengerInformationFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of PASSENGER INFO FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PassengerInformationFacilityList" type="PassengerInformationFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of  PASSENGER INFOFACILITies </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="PassengerInformationFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for  PASSENGER INFO FACILITY</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="PassengerInformationFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===PassengerComms FACILITY====================================== -->
	<xsd:element name="PassengerCommsFacility" type="PassengerCommsFacilityEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of PASSENGER COMMS FACILITYtype - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PassengerCommsFacilityList" type="PassengerCommsFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of  PASSENGER COMMS FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="PassengerCommsFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for  PASSENGER COMMS  FACILITies</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="PassengerCommsFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Refreshment  FACILITY====================================== -->
	<xsd:element name="RefreshmentFacility" type="RefreshmentFacilityEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of REFRESHMENT FACILITYtype - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RefreshmentFacilityList" type="RefreshmentFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of REFRESHMENT FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="RefreshmentFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for REFRESHMENT FACILITies</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="RefreshmentFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Reservation  FACILITY====================================== -->
	<xsd:element name="ServiceReservationFacility" type="ReservationEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of RESERVATION FACILITY  type - UIC 7037 Code list</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceReservationFacilityList" type="ServiceReservationFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of RESERVATION FACILITies  UIC 7037 Code list</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ServiceReservationFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for RESERVATION FACILITY UIC 7037 Code list</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ReservationEnumeration"/>
	</xsd:simpleType>
	<!-- ===Reserver space FACILITY====================================== -->
	<xsd:element name="ReservedSpaceFacility" type="ReservedSpaceFacilityEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of RESERVED SPACE FACILITY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReservedSpaceFacilityList" type="ReservedSpaceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of RESERVED SPACE FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ReservedSpaceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for RESERVED SPACE FACILITies</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ReservedSpaceFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Retail  FACILITY====================================== -->
	<xsd:element name="RetailFacility" type="RetailFacilityEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of RETAIL FACILITY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RetailFacilityList" type="RetailFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of RETAIL FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="RetailFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for RETAIL FACILITies</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="RetailFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Sanitary  FACILITY====================================== -->
	<xsd:element name="SafetyFacility" type="SafetyFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of SAFETY FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SafetyFacilityList" type="SafetyFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of SAFETY FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="SafetyFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for RETAIL FACILITies</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="SafetyFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Sanitary  FACILITY====================================== -->
	<xsd:element name="SanitaryFacility" type="SanitaryFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of Sanitary FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SanitaryFacilityList" type="SanitaryFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of SANITARY FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ===GenderLimitations ====================================== -->
	<xsd:element name="GenderLimitationList" type="GenderLimitationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification GENDER LIMITATION</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="GenderLimitationListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for GENDER LIMITATION</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="GenderLimitationEnumeration"/>
	</xsd:simpleType>
	<!-- ===Staffing===================================== -->
	<xsd:element name="Staffing" type="StaffingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of STAFFING</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ===Ticketing  FACILITY====================================== -->
	<xsd:element name="TicketingFacility" type="TicketingFacilityEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>Classification of TICKETING FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TicketingFacilityList" type="TicketingFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of TICKETING FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TicketingFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for TICKETING  FACILITies</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="TicketingFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- ===Ticketing  FACILITY====================================== -->
	<xsd:element name="TicketingServiceFacility" type="TicketingServiceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of TICKETING FACILITY  type - Tpeg  pti23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TicketingServiceFacilityList" type="TicketingServiceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of TICKETING FACILITies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ==== ===================================================== -->
	<xsd:element name="UicTrainRate" type="UicRateTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of Uic Rate Type FACILITY  type - UIC 5163 Code list</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="UicTrainRateListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for Uic Rate Type FACILITY UIC 5163 Code list</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="UicRateTypeEnumeration"/>
	</xsd:simpleType>
	<!-- ==== ===================================================== -->
	<xsd:element name="UicProductCharacteristic" type="UicProductCharacteristicEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of UicProductCharacteristic FACILITY  type - UIC 7139 Code list</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UicProductCharacteristicList" type="UicProductCharacteristicListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of UicProductCharacteristic FACILITies  UIC 7139 Code list</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="UicProductCharacteristicListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Values for UicProductCharacteristic FACILITY UIC 7139 Code list</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="UicProductCharacteristicEnumeration"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
