netex_part_1/part1_ifopt/netex_ifopt_localServiceCommercial_version-v0.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.4" id="netex_ifopt_localServiceCommercial_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date>
					<Modified>2007-06-12</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange.This subschema defines LOCAL SERVICE  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/ifopt}ifopt_equipment-v0.3.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
                            <Copyright>CEN, Crown Copyright 2006, 2007, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>Cen TC278 WG3 SG6</Project>
				</Subject>
				<Title>NeTEx Network Exchange - LOCAL SERVICE COMMERCIAL  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>LOCAL SERVICE COMMERCIAL  types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="netex_ifopt_localService_version-v0.4.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_travelRights_types-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_localService_support-v0.4.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_equipment_support-v0.4.xsd"/>
	<!-- ======================================================================= -->
	<xsd:group name="LocalServiceCommercialChoice">
		<xsd:choice>
			<xsd:element ref="CommunicationService">
				<xsd:annotation>
					<xsd:documentation>Lost Property Service</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="HireService"/>
			<xsd:element ref="MoneyService">
				<xsd:annotation>
					<xsd:documentation>Complaints Service</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RefreshmentService">
				<xsd:annotation>
					<xsd:documentation>Lost Property Service</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RetailService">
				<xsd:annotation>
					<xsd:documentation>Lost Property Service</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:group>
	<!-- ====ACCESS=================================================================== -->
	<!-- ======================================================================= -->
	<xsd:element name="CommunicationService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Communication Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommunicationService_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CommunicationService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for Communication Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CommunicationServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CommunicationServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Communication Service</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="CommunicationServiceListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Communication services available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="HireService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Hire Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="HireService_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HireService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for Hire Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="HireServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="HireServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Hire Service</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="HireServiceListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Hire services available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="MoneyService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Money Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="MoneyService_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MoneyService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for Money Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="MoneyServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MoneyServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Money Service</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="MoneyServiceListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Money services available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RetailService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Retail Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="RetailService_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RetailService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for Retail Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RetailServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RetailServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Retail Service</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="RetailServiceListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Retail services available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RefreshmentService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Refreshment Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="RefreshmentService_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RefreshmentService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for Refreshment Service</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RefreshmentServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RefreshmentServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Refreshment Service</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="RefreshmentServiceListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Refreshment services available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
