netex_part_1/part1_ifopt/netex_ifopt_equipmentWaiting_version-v0.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3" id="netex_ifopt_equipmentWaiting_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2010-09-04</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange.This subschema defines equipment base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/ifopt}ifopt_equipment-v0.3.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
                            <Copyright>CEN, Crown Copyright 2006, 2007, 2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>Cen TC278 WG3 SG6</Project>
				</Subject>
				<Title>NeTEx Network Exchange - WAITING EQUIPMENT   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>WAITING EQUIPMENT     types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_travelRights_types-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_equipmentPlace_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_equipmentParking_version-v0.4.xsd"/>
	<xsd:group name="StopPlaceEquipmentChoice">
		<xsd:annotation>
			<xsd:documentation>Choice of STOP PLACE EQUIPMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="LuggageLockerEquipment"/>
			<xsd:element ref="ShelterEquipment"/>
			<xsd:element ref="TrolleyStandEquipment"/>
			<xsd:element ref="WaitingRoomEquipment"/>
			<xsd:element ref="CycleStorageEquipment"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="StopPlaceEquipmentList">
		<xsd:annotation>
			<xsd:documentation>List of STOP PLACE EQUIPMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LuggageLockerEquipment" minOccurs="0"/>
			<xsd:element ref="ShelterEquipment" minOccurs="0"/>
			<xsd:element ref="TrolleyStandEquipment" minOccurs="0"/>
			<xsd:element ref="WaitingRoomEquipment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====ACCESS=================================================================== -->
	<xsd:element name="StopPlaceEquipment" type="StopPlaceEquipment_VersionStructure" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Equipment that may be in a fixed within a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopPlaceEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a  STOP PLACE EQUIPMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="LuggageLockerEquipment" abstract="true" substitutionGroup="StopPlaceEquipment">
		<xsd:annotation>
			<xsd:documentation> Luggage Locker.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="LuggageLockerEquipment_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LuggageLockerEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a Luggage Locker.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StopPlaceEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="LuggageLockerEquipmentGroup">
						<xsd:annotation>
							<xsd:documentation>elements  for Abstract equipment type</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LuggageLockerEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>elements  for   Luggage Locker equipment type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberOfLockers" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of equipment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockerWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of  Locker</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockerHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height Of Locker</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockerDepth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Depthof  Locker</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockerType" type="LockerTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Locker</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:simpleType name="LockerTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Locker Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="leftLuggageOffice"/>
			<xsd:enumeration value="lockers"/>
			<xsd:enumeration value="bikeRack"/>
			<xsd:enumeration value="bikeCarriage"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LuggageServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Luggage Service Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="leftLuggage"/>
			<xsd:enumeration value="porterage"/>
			<xsd:enumeration value="freeTrolleys"/>
			<xsd:enumeration value="paidTrolleys"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="WaitingEquipment" abstract="true" substitutionGroup="StopPlaceEquipment">
		<xsd:annotation>
			<xsd:documentation>Waiting EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="WaitingEquipment_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WaitingEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for Waiting EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StopPlaceEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="WaitingEquipmentGroup">
						<xsd:annotation>
							<xsd:documentation>elements  for Waiting rooms and waiting areas</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="WaitingEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>elements  for Waiting Equipment.ype</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Seats" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of steats in Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of area</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of Area</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StepFree" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether area is step free.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairAreaWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of Wheelchair Area</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairAreaLength" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of Wheelchair Area</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SmokingAllowed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether smoking is allowed in area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="WaitingRoomEquipment" substitutionGroup="StopPlaceEquipment">
		<xsd:annotation>
			<xsd:documentation>Waiting Room EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="WaitingRoomEquipment_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WaitingRoomEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a  Waiting Room EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="WaitingEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="WaitingRoomGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="WaitingRoomGroup">
		<xsd:annotation>
			<xsd:documentation>elements  forWaiting Room yequipment type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FareClass" type="FareClassListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Class for fare needed to use waiting room</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WomenOnly" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether waiting room is only for women</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Sanitary" type="SanitaryFacilityListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sanitary facility</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TrolleyStandEquipment" substitutionGroup="StopPlaceEquipment">
		<xsd:annotation>
			<xsd:documentation>Trolley Stand EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TrolleyStandEquipment_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrolleyStandEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a Trolley Stand EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StopPlaceEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TrolleyStandGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrolleyStandGroup">
		<xsd:annotation>
			<xsd:documentation>elements  for Trolley Stand equipment type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FreeToUse" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Trolley is free or if a  payment is required</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Charge" type="CurrencyAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Charge for using a trolley</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Currency" type="CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Currency of Charge for using the facility</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed methods of payment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ShelterEquipment" substitutionGroup="StopPlaceEquipment">
		<xsd:annotation>
			<xsd:documentation>Shelter EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ShelterEquipment_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ShelterEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a Shelter EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="WaitingEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ShelterEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ShelterEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>elements  for Shelter equipment type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Enclosed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether shelter is enclosed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistanceFromNearestKerb" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance from Kerb / boarding point</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="SeatingEquipment" substitutionGroup="StopPlaceEquipment">
		<xsd:annotation>
			<xsd:documentation>SEATING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SeatingEquipment_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SeatingEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SEATING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="WaitingEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SeatingEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SeatingEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>elements  for SEATING equipment type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
