netex_part_2/part2_journeyTimes/netex_vehicleJourneyFrequency_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_vehicleJourneyFrequency_version">
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_vehicleJourney_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="frequencyGroupsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  OURNEY FREQUENCY GROUs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="HeadwayJourneyGroup"/>
					<xsd:element ref="RhythmicalJourneyGroup"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- =================================================== -->
	<xsd:complexType name="FrequencyStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a HEADWAY INTERVAL </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="HeadwayIntervalGroup"/>
			<xsd:element name="HeadwayDisplay" type="HeadwayUseEnumeration" default="DisplayInsteadOfPassingTimes" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use to be made of Headway information when displaying to public. Default is DisplayInstead of Passing Times</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FrequencyRegulated" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whetehr servicefalls under regulations for frequency service</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Descriptive phrase to use for frequencey. e.g. "Every x minus"  If noit specified generate form </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- =================================================== -->
	<!-- ===VehicleJourney Frequency=================================================== -->
	<xsd:complexType name="vehicleJourneyHeadways_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of a VEHICLE JOURNEY FREQUENCies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleJourneyHeadway" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>VEHICLE JOURNEY FREQUENCY for a specified TIME DEMAND TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleJourneyHeadway" abstract="false" substitutionGroup="JourneyDemand">
		<xsd:annotation>
			<xsd:documentation>A frequency at  which a given VEHICLE JOURNEY will run.  This frequency supersedes any global frequency or JOURNEY PATTERN FREQUENCY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleJourneyHeadway_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyDemandGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="HeadwayIntervalGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleJourneyHeadwayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleJourneyHeadwayIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleJourneyHeadway_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE JOURNEY FREQUENCY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyHeadway_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleJourneyHeadwayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleJourneyHeadwayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE JOURNEY FREQUENCY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="VehicleJourneyRef" minOccurs="0"/>
			<xsd:element ref="TimingPointRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="frequencyGroups_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of a VEHICLE JOURNEY FREQUENCies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="HeadwayJourneyGroupRef" maxOccurs="1"/>
					<xsd:element ref="HeadwayJourneyGroup" maxOccurs="1"/>
					<xsd:element ref="RhythmicalJourneyGroupRef"/>
					<xsd:element ref="RhythmicalJourneyGroup" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyFrequencyGroup" type="JourneyFrequencyGroup_VersionStructure" abstract="true" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>Defines a group of JOURNEYs in order to describe special  Frequency behavior like frequency based services or rhythmical services (runs all xxh10, xxh25 and xxh45... for example; this is specially useful for passenger information)
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyFrequencyGroup_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for   JOURNEY FREQUENCY GROUP</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:group ref="JourneyFrequencyGroupGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyFrequencyGroupGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a JOURNEY FREQUENCY GROUP </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FirstDepartureTime" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>Time of first departure in JOURNEY FREQUENCY GROUP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LastDepartureTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time of last departure in JOURNEY FREQUENCY GROUP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayOffset" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Offset days for end time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeDemandTypes" type="timeDemandTypeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME DEMAND TYPES associated with JOURNEY FREQUENCY GROUP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="journeys" type="explicitJourneyRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME DEMAND TYPES associated with JOURNEY FREQUENCY GROUP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="HeadwayJourneyGroup" abstract="false" substitutionGroup="JourneyFrequencyGroup">
		<xsd:annotation>
			<xsd:documentation>Defines a group of JOURNEYs in order to describe special  Frequency behavior like frequency based services or rhythmical services (runs all xxh10, xxh25 and xxh45... for example; this is specially useful for passenger information)
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="HeadwayJourneyGroup_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:group ref="JourneyFrequencyGroupGroup"/>
						<xsd:group ref="HeadwayJourneyGroupGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="HeadwayJourneyGroupIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HeadwayJourneyGroup_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for   HEADWAY JOURNEY GROUP</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyFrequencyGroup_VersionStructure">
				<xsd:group ref="HeadwayJourneyGroupGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="HeadwayJourneyGroupGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a HEADWAY JOURNEY GROUP </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="HeadwayIntervalGroup"/>
			<xsd:element name="HeadwayDisplay" type="HeadwayUseEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>How headway value shsould be displayed to public</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Text to describe interval</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RhythmicalJourneyGroup" abstract="false" substitutionGroup="JourneyFrequencyGroup">
		<xsd:annotation>
			<xsd:documentation>A group of VEHICLE JOURNEYS following  the same JOURNEY PATTERN having the same "rhythm" every hour (for example runs all xxh10, xxh25 and xxh45... e) between a specified start and end time.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RhythmicalJourneyGroup_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:group ref="JourneyFrequencyGroupGroup"/>
						<xsd:group ref="RhythmicalJourneyGroupGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RhythmicalJourneyGroupIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RhythmicalJourneyGroup_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for   Rhythmical JOURNEY GROUP</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyFrequencyGroup_VersionStructure">
				<xsd:group ref="RhythmicalJourneyGroupGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RhythmicalJourneyGroupGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Rhythmical JOURNEY GROUP </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timebands" type="timebandRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIMEBANDS associated with JOURNEY FREQUENCY GROUP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
