netex_part_2/part2_journeyTimes/netex_call_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_call_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_version-v0.4.xsd"/>
	<xsd:include schemaLocation="netex_interchangeRule_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_coupledJourney_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_passingTimes_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_call_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_vehicleService_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../part2_vehicleService/netex_duty_support-v0.1.xsd"/>
	<!-- ==== CALL =========================================-->
	<xsd:complexType name="calls_RelStructure">
		<xsd:annotation>
			<xsd:documentation>CALLs assocated with entity </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence minOccurs="2" maxOccurs="unbounded">
					<xsd:element ref="Call"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Call">
		<xsd:annotation>
			<xsd:documentation>A visit to a SCHEDULED STOP POINT as part of a VEHICLE JOURNEY. A CALL is a view of a POINT IN JOURNEY PATTERN that adds in dervied data.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Call_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CallGroup"/>
							<!-- The FacilityChangeElement has bee removed here in Siri 1.1, but it is still available at the same place through the AimedCallGroup->DisruptionGroup 
                  (DisruptionGroup has been added to AimedCallGroup)
            <xsd:element ref="FacilityChangeElement" minOccurs="0"/>
            -->
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CallIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Call_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Data type for CALL. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="CallGroup"/>
					<!-- The FacilityChangeElement has bee removed here in Siri 1.1, but it is still available at the same place through the AimedCallGroup->DisruptionGroup 
                  (DisruptionGroup has been added to AimedCallGroup)
            <xsd:element ref="FacilityChangeElement" minOccurs="0"/>
            -->
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:positiveInteger">
					<xsd:annotation>
						<xsd:documentation>Order of Call within Joruney</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CallGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing the CALL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="StopPointInJourneyPatternViewPropertiesGroup"/>
			<xsd:element ref="ServiceJourneyRef" minOccurs="0"/>
			<xsd:element name="PointInJourneyPatternRef" type="PointInJourneyPatternRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Point in journey pattern upon which this call is based. Can be used to obtain full association sets.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="CallTimingGroup">
				<xsd:annotation>
					<xsd:documentation>Elements describing the timing of the  CALL.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="StopPointInPatternPropertiesGroup">
				<xsd:annotation>
					<xsd:documentation>Elements describing the STOP POINT IN JOURNEY PATTERN properties of the call </xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="Note" type="MultilingualString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Text annotation that applies to this CALL. This is for internal use. Customer facing shoudl be added to footnote</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="CallTimingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing the CALL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Arrival" type="ArrivalStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Arrival at CALL</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Departure" type="DepartureStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Departure from a CALL</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Frequency" type="FrequencyStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Frequency of service at CALL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="ArrivalStructure">
		<xsd:annotation>
			<xsd:documentation>Regoransiation of Passing times as arrival</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Time" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Latest Arrival time</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayOffset" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of days after the departure from previous stop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForAlighting" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether  alighting is allowed at the stop  Default is true..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsFlexible" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether use of stop is flexible, i.e. requires phoning to arrange. Must be a  FLEXIBLE LINE.  Default is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="CallPartGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DepartureStructure">
		<xsd:annotation>
			<xsd:documentation>Regoransiation of Passing times as arrival</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Time" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timetabled departure time - Earliest time to depart</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayOffset" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of days after the arrival day of the departure time  if not same calendar day.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForBoarding" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether  boarding is allowed at the stop. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsFlexible" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether use of stop is flexible, i.e. requires phoning to arrange. Must be a FLEXIBLE LINE.  Default is false</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WaitTime" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timetabled waiting interval</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="CallPartGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="CallPartGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing aan arrival or DEparture part of athe CALL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="JourneyPartRef" minOccurs="0"/>
			<xsd:element name="journeyMeetings" type="journeyMeetingViews_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>JOURNEY MEETINGs for visit </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interchanges" type="serviceJourneyInterchanges_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGEs for visit </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interchangeRules" type="interchangeRules_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE RULEs for visit </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element ref="TimeDemandTypeRef"/>
				<xsd:element ref="TimebandRef"/>
			</xsd:choice>
			<xsd:element ref="DutyPartRef" minOccurs="0"/>
			<xsd:group ref="QuayAssignmentGroup"/>
			<xsd:element name="notices" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICEs of a CALL that apply only to the Arrival  or departure</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== CALL =========================================-->
	<xsd:complexType name="deadRunCalls_RelStructure">
		<xsd:annotation>
			<xsd:documentation>DEAD RUN CALLs assocated with entity </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence minOccurs="2" maxOccurs="unbounded">
					<xsd:element name="DeadRunCall" type="DeadRunCall_VersionedChildStructure"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeadRunCall_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Data type for DEAD RUN CALL</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="DeadRunCallGroup"/>
					<!-- The FacilityChangeElement has bee removed here in Siri 1.1, but it is still available at the same place through the AimedDeadRunCallGroup->DisruptionGroup 
                  (DisruptionGroup has been added to AimedDeadRunCallGroup)
            <xsd:element ref="FacilityChangeElement" minOccurs="0"/>
            -->
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:positiveInteger">
					<xsd:annotation>
						<xsd:documentation>Order of DeadRunCall within Joruney</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeadRunCallGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing the DeadRDEAD RUN CALLunCall.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>Restrict just to SCHEDULED STOP POINTs</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="PointRef"/>
				<xsd:element ref="ScheduledStopPointView" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="PointInJourneyPatternRef" type="PointInJourneyPatternRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Point in journey pattern upon which this DeadRunCall is based. Can be used to obtain full association sets.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="DeadRunCallTimingGroup">
				<xsd:annotation>
					<xsd:documentation>Elements describing the timing of the  DeadRunCall.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="StopPointInPatternPropertiesGroup" minOccurs="0"/>
			<xsd:element name="Note" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Text annotation that applies to this DeadRunCall. This is for internal use. Customer facing shoudl be added to footnote</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DeadRunCallTimingGroup">
		<xsd:annotation>
			<xsd:documentation>Timing Elements describing the DEAD RUN CALL</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Arrival" type="DeadRunCallPartStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Arrival at DeadRunCall</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Departure" type="DeadRunCallPartStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Departure from a DeadRunCall</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="DeadRunCallPartStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DEAD RUN CALL part</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Time" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Latest Arrival time</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayOffset" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of days after the departure from previous stop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WaitTime" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timetabled waiting interval</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="DeadRunCallPartGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="DeadRunCallPartGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing an arrival or Departure part of athe DeadRunCall.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="JourneyPartRef" minOccurs="0"/>
			<xsd:element ref="TimeDemandTypeRef" minOccurs="0"/>
			<xsd:element ref="DutyPartRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== DatedCall=========================================-->
	<xsd:complexType name="DatedCall_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Data type for DATED CALL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Call_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="DatedCallGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DatedCallGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing the DATED CALL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DriverRef" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====Junk=========================================================== -->
	<!-- ======================================================================= -->
	<xsd:group name="CallDetailsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing the CALL. Must match rthe context of the call</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PointInJourneyPattern" minOccurs="0"/>
			<xsd:element ref="TimetabledPassingTime" minOccurs="0"/>
			<xsd:element ref="ScheduledStopPoint" minOccurs="0"/>
			<xsd:element ref="PassengerStopAssignment" minOccurs="0"/>
			<xsd:element ref="DynamicStopAssignment" minOccurs="0"/>
			<xsd:element ref="JourneyPattern" minOccurs="0"/>
			<xsd:element ref="ServiceJourneyInterchange" minOccurs="0"/>
			<xsd:element ref="ServiceJourneyPatternInterchange" minOccurs="0"/>
			<xsd:element ref="Connection" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
